/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
// @import "../global/global.less";

/* DEFINE VARIATION CSS */
.pds-productImage__mzThumbsWrapper,
.pds-productImage__mzKeyVisualWrapper  {
    display: none;
}

.kk_slider {
    padding: 0 2% 42px 3%;
    // max-height: 800px;
    overflow: hidden;
    // min-height: 400px;

    // border: solid 1px red;

    .flickity-slider {
        position: relative !important;
    }

    .carousel-cell {
        // display: none;
        width: 50%;
        // padding: 0 1.3%;
        padding: 0 .9%;
        display: inline-block;
        left: 0;
        // opacity: 0;

        // border: solid 1px green;
        position: relative;

        img {
            max-width: 100%;
            max-height: 100%;
            min-width: 100%;
        }
        // &:nth-child(3),
        // &:nth-child(4) {
        //     opacity: 1;
        //     // display: inline-block;
        // }
    }
    .flickity-prev-next-button.previous {
        top: 45%;
        left: 2.7%;
        border: solid #e8e6e7 1px;
        border-radius: 50%;
    }
    .flickity-prev-next-button.next {
        top: 45%;
        right: 1.3%;
        border: solid #e8e6e7 1px;
        border-radius: 50%;
    }
    .flickity-page-dots {
        padding-right: 7.5%;
        bottom: 6px;

        .dot {
            opacity: .2;
            width: 6px;
            height: 6px;
            margin: 0 7px;
        }
        .dot.is-selected {
            width: 9px;
            height: 9px;
            opacity: 1;
            margin-bottom: -1.5px;
        }
    }
    .flickity-viewport {
        height: 800px !important;
        
        // border: solid 1px blue;

        // height: 500px;
        // min-height: 500px;

        // border: solid 1px red;
    }
    // &.flickity-enabled .carousel-cell {
    //     opacity: 1;
    //     // display: inline-block;
    // }
}

.pds-cockpit__productName {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: 1.54rem;
}
.pds-cockpit__wrapper {
    position: relative;
}
.large-2.h-text-uppercase {
    display: none;
    + div + .align-self-top-for-large {
        display: none;
    }
    + .h-no-padding-right-large {
        &::before{
            content: "Größe";
            font-weight: 700;
            text-transform: uppercase;
            padding: 5px 0;
            display: block;
        }
    }
}
.js-color-name {
    font-weight: 700;
    text-transform: uppercase;
}

.js-size-advisor-wrapper {
    padding: 0 0 0 20px !important;
    margin-top: 27px;
    text-align: left;
}
.pds-cockpit__ratingSummaryWrapper {
    position: absolute;
    top: 19px;
    right: 30px;
    padding: 0;
    .starRatingWrapper {
        font-size: 17px;
    }
}
.pds-cockpit__shortDescription {
    margin-bottom: 1.5rem;
    padding: 0 2.30769rem;
    li {
        line-height: 20px;
    }
}
.kk_desc {
    line-height: 1.4;

    + .h-smallOffset-top-outer {
        border-bottom: solid #e5e4e3 1px;
        padding-bottom: 7px;
    }
}
.js-add-product-container {
    padding-top: 46px;
    flex-flow: row wrap;
    // align-items: flex-end;
    justify-content: flex-end;
    // -ms-flex-direction: row;

    > div {
        order: 1;
        padding: 0 !important;
        width: 80%;
        margin-right: 30px;
        max-width: 58.33333%;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    }
    + div,
    + div + div,
    + div + div + div {
        display: none;
    }
}
.pds-cockpit__wrapper .price-info {
    font-size: 1rem;
}
.pds__imageAndCockpitWrapper {
    // border-bottom: solid #e5e4e3 1px;
    padding-bottom: 30px;
    align-items: stretch; //flex-start;
    justify-content: flex-end;
}
.bgColor-super-light-gray {
    background-color: #fff;
    margin-top: 0;
    padding-top: 1rem;
}
span[itemprop="priceCurrency"]{
    font-size: 1.54rem;
}

.h-largeOffset-bottom-outer {
    + .row + .h-largeOffset-bottom-outer {
        &::before{
            content: "Menge";
            font-weight: 700;
            text-transform: uppercase;
            padding: 5px 2.30769rem;
            display: block;
        }
        position: absolute;
        margin-top: 18px;
        max-width: 30%;
    }
}
// .align-justify + .row + .row > .small-12::after {
//     content: "";
//     width: 100%;
//     height: 17px;
//     display: block;
//     border-bottom: solid #e5e4e3 1px;
// }
#avail_container {
    margin: 25px 0 0 30px;
    padding-right: 0;
    min-width: 100px;
}
#addToWishlistButton {
    background-color: #fff;
    border: #e5e4e3 1px solid;
    &:hover {
        background-color: #c5c1bc;
    }
}
.kk_complete{
    z-index: 10;
    // background-color: #fff;
    bottom: 0;
    left: auto !important;
    right: 17%;
    text-align: center;
    // border: #979797 1px solid;
    border-radius: 3px;
    position: absolute;
    max-width: 250px;
    // min-width: 200px;
    // opacity: 0;
    // -webkit-transition: opacity 1s ease-in-out;
    // -moz-transition: opacity 1s ease-in-out;
    // transition: opacity 1s ease-in-out;
    cursor: pointer;
    transition: all .4s ease-in-out;

    span {
        // font-family: "Archer A","Archer B","Archer",serif;
        font-weight: 100;
        // margin: 8px 10px;
        font-size: 16px;
        text-transform: uppercase;
        // border-top: #979797 1px solid;
        border-bottom: #979797 1px solid;
        // border-radius: 0;
        color: #393939;
        white-space: nowrap;
        text-decoration: none;
        padding: 3px 0;
        display: block !important;
        transition: color .4s ease-in-out;
    }
    &:hover {
        // border-color: #000;
        span {
            // border-color: #000;
            color: #000;
            border-color: #fff;
        }
    }
}
// .kk_complete.kk_show {
// 	opacity: 1;
// }
  

.js-product-info {
    .h3 {
        font-weight: 100;
    }
}
.pds-cockpit__sozialMediaShareWrapper {
    // margin-bottom: 3rem;
    margin-top: 15px;
}
.rating {
    .h3 {
        font-weight: 100;
    }
}
.js-product-reference {
    .h4 {
        font-weight: 100;
    }
}
.js-price-container span {
    font-weight: 500;
}

.pds-cockpit__articleNumber {
    text-align: left;
    font-weight: 100;
    margin-bottom: 3px;
}
.kk_tel {
    margin-top: 20px;
}
// .kk_title {
//     font-family: "Archer A","Archer B","Archer",serif;
//     color: #fff;
//     text-align: center;
//     font-size: 2rem;
//     font-weight: 100;
//     padding: 10px 20% 2%;
//     display: none;
// }
// .bgColor-super-light-gray .large-3 {
//     padding-top: 60px;
// }
.js-availability-status {
    display: block;
    padding-bottom: 10px;
}
.js-availability-info {
    white-space: nowrap;
}
.kk_sizeWrapper {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.medium-shrink.medium-shrink {
    max-width: 58.33333%;
}


/* Flickity fullscreen v1.0.1
------------------------- */

// .flickity-enabled.is-fullscreen {
//     position: fixed;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: hsla(0,0%,0%,.9);
//     padding-bottom: 35px;
//     z-index: 10000;
//     bottom: 0;
//     right: 0;
//     max-width: 100%;
//     flex: 0 0 100%;
//     max-height: 100%;
//     padding: 40px 20px;
//     .kk_complete {
//         display: none;
//     }
//     .kk_title {
//         display: block;
//     }
//     .flickity-prev-next-button.previous {
//         left: 1.3%;
//     }
//     &.kk_slider .flickity-page-dots {
//         padding: 0;
//     }
//     &.kk_slider .flickity-viewport {
//         height: 100%;
//         max-height: 95%;
//         min-height: 95%;
//     }
// }
  
// .flickity-enabled.is-fullscreen .flickity-page-dots {
//     bottom: 10px;
// }

// .flickity-enabled.is-fullscreen .flickity-page-dots .dot {
//     background: #fff;
// }

// /* prevent page scrolling when flickity is fullscreen */
// html.is-flickity-fullscreen {
//     overflow: hidden;
// }

// /* ---- flickity-fullscreen-button ---- */

// .flickity-fullscreen-button {
//     display: block;
//     right: 10px;
//     top: 10px;
//     width: 29px;
//     height: 29px;
//     border-radius: 4px;
//     cursor: pointer;
//     z-index: 2;
//     overflow: hidden;
//     max-width: 29px;
//     max-height: 29px;
// }

// /* right-to-left */
// .flickity-rtl .flickity-fullscreen-button {
//     right: auto;
//     left: 10px;
// }

// .flickity-fullscreen-button.flickity-fullscreen-button-exit { 
//     display: none;
//     position: absolute;
//     .flickity-button-icon {
//         position: absolute;
//         width: 22px !important;
//         height: 22px !important;;
//         left: 0 !important;;
//         path {
//             fill: #fff;
//         }
//     }
// }

// .flickity-enabled.is-fullscreen .flickity-fullscreen-button-exit { 
//     display: block;
// }
// .flickity-enabled.is-fullscreen .flickity-fullscreen-button-view { 
//     display: none;
// }
// .flickity-fullscreen-button-view {
//     position: absolute;
//     right: 5%;
// }
// .flickity-fullscreen-button .flickity-button-icon {
//     position: absolute;
//     width: 16px;
//     height: 16px;
//     left: 4px;
//     top: 4px;
//     path {
//         fill: #393939;
//     }
// }



#desc__amount {
    width: 100px;
}
#desc__size {
    min-width: 100px;
    width: auto;
}

.js-badges-container {
    min-height: 20px;
}



@media only screen and (min-width: 1400px) {
    .kk_slider .flickity-prev-next-button.previous {
        left: 3.1%;
    }
    .kk_slider .flickity-prev-next-button.next {
        right: 1.8%;
    }
}
@media only screen and (min-width: 1475px) {
    .kk_complete {
        right: 18%;
    }
}
@media only screen and (min-width: 1625px) {
    .kk_complete {
        right: 19%;
    }
}
@media only screen and (min-width: 1725px) {
    .kk_complete {
        right: 20%;
    }
    .kk_slider .flickity-prev-next-button.previous {
        left: 3.6%;
        top: 47%;
    }
    .kk_slider .flickity-prev-next-button.next {
        right: 2.2%;
        top: 47%;
    }
}
@media only screen and (min-width: 1850px) {
    // .kk_complete {
    //     bottom: 0;
    // }
    .kk_slider .flickity-page-dots {
        bottom: 0.154rem;
    }
    .flickity-enabled.is-draggable .flickity-viewport {
        max-height: 780px;
    }
}
@media only screen and (max-width: 1155px) {
    #avail_container {
        min-width: 80px;
    }
}
@media only screen and (max-width: 1100px) {
    .js-add-product-container > div {
        max-width: 55%;
        -ms-flex: 0 0 55%;
        flex: 0 0 55%;
    }
}

