/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

#kk09_ecological {
    text-align: center;
    background: #f7f6f5;
    padding: 6.92308rem calc(~"8.33333% + 2.30769rem");
    margin-bottom: 6.92308rem;

    .h3 {
        font-weight: 500;
        font-size: 1.65rem;
        line-height: 2.1rem;
    }
}

.kk09_eco__point {
    padding: 2rem 4.5rem;

    strong {
        display: block;
        font-size: 0.8rem;
        margin-bottom: 0.15rem;
    }

    span {
        font-size: .825rem;
        letter-spacing: 0.025rem;
        line-height: 1.3rem;
    }
}

.kk09_eco__amount {
    font-family: Archer A, Archer B, Archer, serif;
    font-size: 2.8rem;
    line-height: 3rem;
    margin: 0 0 1.25rem;
}

.kk09_eco__footer {
    padding-top: 1rem;

    a {
        text-transform: uppercase;
        font-weight: 700;
        font-size: .75rem;
        letter-spacing: .045rem;
    }

    small {
        display: block;
        color: #959493;
        margin-top: 1.4rem;
    }
}