/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

.kk_dBox{

    display: flex;
    position: relative;
    padding: 19px 10px;
    background-color: #D6DEE4;

    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1.4rem;

    min-width: 340px;

    .kk05_svg{
    
        background-image: url("data:image/svg+xml,%3Csvg width='68' height='30' viewBox='0 0 68 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.8569 5C28.2514 5 28.5712 5.3198 28.5712 5.71429V15.7143C28.5712 16.1088 28.2514 16.4286 27.8569 16.4286C27.4624 16.4286 27.1426 16.1088 27.1426 15.7143V5.71429C27.1426 5.3198 27.4624 5 27.8569 5Z' fill='%23393939'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.0002 0C13.8168 0 12.8574 0.959391 12.8574 2.14286V19.2857C12.8574 20.4692 13.8168 21.4286 15.0002 21.4286H24.3581C23.7606 22.0141 23.3094 22.7483 23.0644 23.5714H17.8573C17.4628 23.5714 17.143 23.8912 17.143 24.2857C17.143 24.6802 17.4628 25 17.8573 25H22.8574C22.8574 27.7614 25.096 30 27.8574 30C30.6188 30 32.8574 27.7614 32.8574 25H43.5562H43.5715H50.7146C50.7146 27.7614 52.9531 30 55.7146 30C58.476 30 60.7145 27.7614 60.7146 25H64.8588C66.1219 25 67.1109 23.9132 66.9922 22.6557L66.6255 18.7731C66.5021 17.4661 65.6715 16.3322 64.4627 15.8203L59.7143 13.8092C59.5019 13.7192 59.3053 13.5955 59.1323 13.4428L52.0032 7.15241C51.4986 6.70722 50.8786 6.41362 50.2144 6.30544L42.8574 5.107V2.14286C42.8574 0.95939 41.898 0 40.7145 0H15.0002ZM43.5804 23.5715L43.5716 23.5714H43.5627C43.1723 23.5667 42.8572 23.2487 42.8572 22.8572L42.8574 6.5544L49.9848 7.71542C50.3832 7.78033 50.7553 7.95649 51.058 8.22361L52.2618 9.28577H49.2859C48.1024 9.28577 47.143 10.2452 47.143 11.4286V12.8572C47.143 14.0407 48.1024 15.0001 49.2859 15.0001H58.5716C58.657 15.0001 58.7389 14.9851 58.8148 14.9576C58.9257 15.0192 59.04 15.075 59.1572 15.1246L63.9056 17.1357C64.6309 17.4429 65.1292 18.1232 65.2032 18.9074L65.5699 22.79C65.6095 23.2092 65.2798 23.5715 64.8588 23.5715H60.5075C59.8928 21.5061 57.9796 20 55.7146 20C53.4495 20 51.5363 21.5061 50.9216 23.5715H43.5804ZM41.5506 23.5714H32.6503C32.4054 22.7483 31.9542 22.0141 31.3567 21.4286H41.4287V22.8572C41.4287 23.1076 41.4716 23.348 41.5506 23.5714ZM41.4288 2.14286C41.4288 1.74837 41.109 1.42857 40.7145 1.42857H15.0002C14.6057 1.42857 14.2859 1.74837 14.2859 2.14286V19.2857C14.2859 19.6802 14.6057 20 15.0002 20H41.4287L41.4288 2.14286ZM57.1189 13.5715L53.8274 10.6672C53.748 10.6976 53.6617 10.7143 53.5716 10.7143H49.2859C48.8914 10.7143 48.5716 11.0341 48.5716 11.4286V12.8572C48.5716 13.2517 48.8914 13.5715 49.2859 13.5715H57.1189ZM27.8574 28.3333C29.6983 28.3333 31.1907 26.841 31.1907 25C31.1907 23.159 29.6983 21.6667 27.8574 21.6667C26.0164 21.6667 24.524 23.159 24.524 25C24.524 26.841 26.0164 28.3333 27.8574 28.3333ZM55.7146 28.3333C57.5555 28.3333 59.0479 26.841 59.0479 25C59.0479 23.159 57.5555 21.6667 55.7146 21.6667C53.8736 21.6667 52.3812 23.159 52.3812 25C52.3812 26.841 53.8736 28.3333 55.7146 28.3333Z' fill='%23393939'/%3E%3Cpath d='M9.44444 7.14281C9.75127 7.14281 10 6.82301 10 6.42852C10 6.03403 9.75127 5.71423 9.44444 5.71423H0.555555C0.248731 5.71423 0 6.03403 0 6.42852C0 6.82301 0.248731 7.14281 0.555555 7.14281H9.44444Z' fill='%23393939'/%3E%3Cpath d='M9.99979 10.7143C9.99979 11.1088 9.77136 11.4286 9.48959 11.4286H3.36714C3.08536 11.4286 2.85693 11.1088 2.85693 10.7143C2.85693 10.3198 3.08536 10 3.36714 10H9.48959C9.77136 10 9.99979 10.3198 9.99979 10.7143Z' fill='%23393939'/%3E%3Cpath d='M9.46435 15.7143C9.76021 15.7143 10.0001 15.3945 10.0001 15.0001C10.0001 14.6056 9.76021 14.2858 9.46435 14.2858H6.25007C5.9542 14.2858 5.71436 14.6056 5.71436 15.0001C5.71436 15.3945 5.9542 15.7143 6.25007 15.7143H9.46435Z' fill='%23393939'/%3E%3C/svg%3E");
    
        background-repeat: no-repeat;
        width: 68px;
        height: 30px;
        margin-right: 17px;

        &.kk_check{
            background-image: url("data:image/svg+xml,%3Csvg width='68' height='30' viewBox='0 0 68 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.8569 5C28.2514 5 28.5712 5.3198 28.5712 5.71429V15.7143C28.5712 16.1088 28.2514 16.4286 27.8569 16.4286C27.4624 16.4286 27.1426 16.1088 27.1426 15.7143V5.71429C27.1426 5.3198 27.4624 5 27.8569 5Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.0002 0C13.8168 0 12.8574 0.959391 12.8574 2.14286V19.2857C12.8574 20.4692 13.8168 21.4286 15.0002 21.4286H24.3581C23.7606 22.0141 23.3094 22.7483 23.0644 23.5714H17.8573C17.4628 23.5714 17.143 23.8912 17.143 24.2857C17.143 24.6802 17.4628 25 17.8573 25H22.8574C22.8574 27.7614 25.096 30 27.8574 30C30.6188 30 32.8574 27.7614 32.8574 25H43.5562H43.5715H50.7146C50.7146 27.7614 52.9531 30 55.7146 30C58.476 30 60.7145 27.7614 60.7146 25H64.8588C66.1219 25 67.1109 23.9132 66.9922 22.6557L66.6255 18.7731C66.5021 17.4661 65.6715 16.3322 64.4627 15.8203L59.7143 13.8092C59.5019 13.7192 59.3053 13.5955 59.1323 13.4428L52.0032 7.15241C51.4986 6.70722 50.8786 6.41362 50.2144 6.30544L42.8574 5.107V2.14286C42.8574 0.95939 41.898 0 40.7145 0H15.0002ZM43.5804 23.5715L43.5716 23.5714H43.5627C43.1723 23.5667 42.8572 23.2487 42.8572 22.8572L42.8574 6.5544L49.9848 7.71542C50.3832 7.78033 50.7553 7.95649 51.058 8.22361L52.2618 9.28577H49.2859C48.1024 9.28577 47.143 10.2452 47.143 11.4286V12.8572C47.143 14.0407 48.1024 15.0001 49.2859 15.0001H58.5716C58.657 15.0001 58.7389 14.9851 58.8148 14.9576C58.9257 15.0192 59.04 15.075 59.1572 15.1246L63.9056 17.1357C64.6309 17.4429 65.1292 18.1232 65.2032 18.9074L65.5699 22.79C65.6095 23.2092 65.2798 23.5715 64.8588 23.5715H60.5075C59.8928 21.5061 57.9796 20 55.7146 20C53.4495 20 51.5363 21.5061 50.9216 23.5715H43.5804ZM41.5506 23.5714H32.6503C32.4054 22.7483 31.9542 22.0141 31.3567 21.4286H41.4287V22.8572C41.4287 23.1076 41.4716 23.348 41.5506 23.5714ZM41.4288 2.14286C41.4288 1.74837 41.109 1.42857 40.7145 1.42857H15.0002C14.6057 1.42857 14.2859 1.74837 14.2859 2.14286V19.2857C14.2859 19.6802 14.6057 20 15.0002 20H41.4287L41.4288 2.14286ZM57.1189 13.5715L53.8274 10.6672C53.748 10.6976 53.6617 10.7143 53.5716 10.7143H49.2859C48.8914 10.7143 48.5716 11.0341 48.5716 11.4286V12.8572C48.5716 13.2517 48.8914 13.5715 49.2859 13.5715H57.1189ZM27.8574 28.3333C29.6983 28.3333 31.1907 26.841 31.1907 25C31.1907 23.159 29.6983 21.6667 27.8574 21.6667C26.0164 21.6667 24.524 23.159 24.524 25C24.524 26.841 26.0164 28.3333 27.8574 28.3333ZM55.7146 28.3333C57.5555 28.3333 59.0479 26.841 59.0479 25C59.0479 23.159 57.5555 21.6667 55.7146 21.6667C53.8736 21.6667 52.3812 23.159 52.3812 25C52.3812 26.841 53.8736 28.3333 55.7146 28.3333Z' fill='white'/%3E%3Cpath d='M9.44444 7.14281C9.75127 7.14281 10 6.82301 10 6.42852C10 6.03403 9.75127 5.71423 9.44444 5.71423H0.555555C0.248731 5.71423 0 6.03403 0 6.42852C0 6.82301 0.248731 7.14281 0.555555 7.14281H9.44444Z' fill='white'/%3E%3Cpath d='M9.99979 10.7143C9.99979 11.1088 9.77136 11.4286 9.48959 11.4286H3.36714C3.08536 11.4286 2.85693 11.1088 2.85693 10.7143C2.85693 10.3198 3.08536 10 3.36714 10H9.48959C9.77136 10 9.99979 10.3198 9.99979 10.7143Z' fill='white'/%3E%3Cpath d='M9.46435 15.7143C9.76021 15.7143 10.0001 15.3945 10.0001 15.0001C10.0001 14.6056 9.76021 14.2858 9.46435 14.2858H6.25007C5.9542 14.2858 5.71436 14.6056 5.71436 15.0001C5.71436 15.3945 5.9542 15.7143 6.25007 15.7143H9.46435Z' fill='white'/%3E%3C/svg%3E");
        }
    }

    &:before{
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        transform: rotate(45deg);
        right: 17px;
        top: -8px;
        background-color: #D6DEE4;
    }
}

.kk_redP{

    margin-top: 10px;

    .price{
        //font-size: 0.8rem;
        font-size: inherit;
        margin-left: 3.3rem;
    }
}

.column.small-12.text-right.h-text-muted.h-xsmallOffset-top-outer{
    display: none;
}

.kk_lt{
    text-decoration: line-through;
}

.kk_cW{
    color: #fff;

    .kk_dBox, .kk_dBox:before{
        background-color: #9EB686; 
    }

}

@media screen and (min-width: 40em){
    
    .kk_dBox{

        margin-right: .76923rem;;
        //padding-right: 2.30769rem;
        //margin-top: 1.4rem;
    }

}

@media screen and (min-width: 75em){
    
    .kk_dBox{

        margin-right: 2.30769rem;
    }

}



