/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
// @import "../global/global.less";

/* DEFINE VARIATION CSS */


// @media only screen and (max-width: 1190px) and (min-width: 1024px) {
    
// }

/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
// @import "../global/global.less";

/* DEFINE VARIATION CSS */
body {
    color: #373939;
}

.pds__imageAndCockpitWrapper {
    margin-bottom: 0;
}
.color-white {
    display: none;
}
.column.small-12.hide-for-medium.h-smallmediumOffset-bottom-outer.h-no-padding,
#desc__color
 {
    display: none !important;
}
.h-largeOffset-bottom-outer.show-for-large {
    margin-bottom: 22px;
    display: block !important;
}
.js-color-name {
    padding-left: 50px;
    display: block !important;
}

.kk_slider {
    display: flex;
    flex-direction: row;
    min-height: 350px;
    margin-bottom: 0;
    > a {
        width: 83.3%;
        -ms-flex: 0 0 83.3%;
        flex: 0 0 83.3%;
        max-width: 83.3%;
        margin-left: 0;
    }
    .kk_sliderThumbs {
        -ms-flex: 0 0 16.70%;
        flex: 0 0 16.70%;
        max-width: 16.70%;
        margin: 0;
        img {
            position: relative;
            width: 100%;
            height: auto;
            display: block;
            box-shadow: none;
        }
        .thumbnailContainer:nth-child(6) {
            display: none;
        }
    }
    .thumbnailContainer {
        margin-bottom: -4px;
    }
}
.kk_onlyone {
    .kk_slider  > a {
        width: 96.6%;
        -ms-flex: 0 0 96.6%;
        flex: 0 0 96.6%;
        max-width: 96.6%;
        margin: 0 1.7%;
    }
    .kk_sliderThumbs {
        display: none;
    }
    .pds-cockpit__wrapper > .h-smallOffset-bottom-outer {
        padding-right: 6%;
    }
}

// ul.checkmark-bullet.pds-cockpit__shortDescription li::before {
//     display: none;
// }
.btn-simple-link.js-pds-more-details {
    letter-spacing: 0.04em;
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    &::after {
        content: "";
        border-top: 1px solid #b2b2b2;
        display: block;
    }
//     font-size: 0;
//     text-decoration: none;
//     &::before {
//         content: "Mehr erfahren";
//         font-size: 13px;
//         text-decoration: underline;
//     }
}
.mz-hint {
    top: 16px;
    right: 15px;
}
// .pds-cockpit__articleNumber {
//     text-align: left;
//     padding: 30px 0 0;
// }
.pds-cockpit__wrapper {
    padding: 0 24px;

    > .h-smallOffset-bottom-outer {
        margin-top: 12px;
        margin-bottom: 0 !important;
        // padding: 0 23% 0 6%;
        min-height: 30px;
    }
    // .js-badges-container {
    //     -ms-flex: 0 0 100%;
    //     flex: 0 0 100%;
    //     max-width: 100%;
    //     text-align: left;
    //     padding-right: 0;
    //     display: flex;
    // }
    > .row > .small-12 > .row.align-middle:first-child {
        align-items: flex-start;
    }
    .align-justify.h-xsmallOffset-bottom-inner {
        padding-bottom: 18px;
    }
    .align-middle.h-largeOffset-bottom-outer {
        position: relative;
        margin-bottom: 2.46rem;
        .row.align-middle {
            .shrink {
                max-width: 41%;
                -ms-flex: 0 0 41%;
                flex: 0 0 41%;
            }
        }
    }
}
h1.pds-cockpit__productName {
    font-size: 24px;
    font-weight: 300;
    text-align: left;
    margin: 21px 0 31px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #373939;
}
.pds-cockpit__badge {
    margin: -2px 3px -2px 0;
    order: 2;
}
.pds-cockpit__shortDescription {
    margin: 0;
    li {
        list-style: none;
        text-align: left;
        line-height: 18px;
        font-size: 13px;
        position: relative;
        font-weight: 400;
        padding-left: 28px;
        margin-bottom: 5px;
        background: #fff url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB17/check.svg") no-repeat left center;
        &::before {
            display: none !important;
            // content: "\f00c";
            // font-family: "FontAwesome";
            // font-weight: normal;
            // content: "" !important;
            // margin-left: 0 !important;
            // background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB17/check.svg") no-repeat;
            // width: 12px;
            // height: 11px;
            // display: block;
            // position: absolute;
            // left: 1px;
            // top: 3px;
        }
    }
    & + .h-smallOffset-top-outer {
        text-align: left;
        font-size: 12px;
        margin-top: 18px !important;
    }
}
.pds-cockpit__wrapper .pds-cockpit__shortDescription {
    li:nth-child(4),
    li:nth-child(5),
    li:nth-child(6),
    li:nth-child(7) {
        display: none;
    }
}
.pds-cockpit__headlineWrapper {
    padding-bottom: 0;
}

// .pds-cockpit__ratingSummaryWrapper {
//     display: inline-block;
//     padding: 0 20px 0 0;
//     order: 1;
//     .starRatingWrapper {
//         font-size: 12px;
//         span {
//             letter-spacing: 4px !important;
//         }
//         // & + span {
//         //     padding-left: 4px;
//         // }
//     }
// }
.menu.pds-cockpit__colorSwitch {
    display: flex !important;
    flex-wrap: wrap;
    margin: 6px 0 0;
    li {
        max-width: none;
        -ms-flex: inherit;
        flex: inherit;
        a {
            width: 45px;
            height: 60px;
            border-color: #fff !important;
            box-sizing: border-box;
            padding: 5px;
            margin-right: 8px;
            img {
                width: 35px;
                height: 50px;
                border: none;
            }
        }
    }
    li.active {
        a {
            border-color: #D0D2D2 !important;
            border-radius: 3px;
        }
    }
}
.align-self-top-for-large:not(.text-right) {
    position: absolute;
    & + div {
        margin-bottom: 27px;
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%;
    }
}
.h-text-uppercase > strong {
    font-family: "Roboto Condensed Bold";
    font-weight: normal;
}
// .small-9.h-mediumOffset-bottom-outer.h-no-padding-right-large {
//     margin-bottom: 13px;
// }

.align-self-top-for-large.text-right {
    display: flex !important;
    position: absolute;
    right: 0;
    padding-right: 24px;
    a {
        font-size: 13px;
        color: #373939;
        letter-spacing: 0.04em;
        font-weight: normal;
        text-decoration: none;
        &::after {
            content: "";
            border-top: 1px solid #b2b2b2;
            display: block;
        }
    }
}
.h-no-padding-right-large.small-9 {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
    padding-left: 0;
    padding-right: 24px;
}
.js-size-advisor-wrapper {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    justify-content: flex-end;
    display: flex !important;
    // padding-right: 0;
}
.column.small-9.large-10 {
    padding-left: 0;
}


#size_advisor {
    font-size: 0;
    height: 17px;
    text-align: right;
    text-decoration: none;
    &::before {
        font-size: 13px;
        // text-decoration: underline;
        content: "Fit-Finder";
        white-space: nowrap;
    }
    &::after {
        content: "";
        border-top: 1px solid #b2b2b2;
        display: block;
        margin-top: -4px;
    }
}
.availability-matrix.reveal{
    max-width: 100%;
}
.availability__item--color {
    width: 10rem;
}
.availability__title {
    padding-left: 10rem;
}
.js-price-container {
    .price span {
        font-weight: normal;
    }
    // .price-info {
    //     color: #6D7273;
    //     font-size: 11px;
    //     letter-spacing: 0.04em;
    //     line-height: 14px;
    //     .js-discountable {
    //         b {
    //             color: #6D7273;
    //             font-weight: normal;
    //         }
    //     }
    //     a {
    //         color: #6D7273;
    //     }
    // }
    .price.price {
        display: flex;
        align-items: center;
    }
}
#write_reviews {
    padding: 0 24px;
}

// .js-price-container {
//     // flex-direction: column;
//     margin-top: 4px;
//     .price {
//         padding-bottom: 6px;
//         -ms-flex: 0 0 41%;
//         flex: 0 0 41%;
//         max-width: 41%;

//         & + .strikeValue {
//             flex: 0 0 50%;
//             max-width: 50%;
//             padding-left: 0;

//             span {
//                 font-size: 12px;
//             }
//         }

//         span {
//             font-weight: 400;
//             font-size: 19px;
//         }
//     }
//     .js-price-info {
//         font-size: 11px;
//         padding-right: 0;
//         align-self: flex-start;
//         min-width: 100%;
//     }
// }
// .pds-cockpit__ratingSummaryWrapper {
//     margin-top: 4px;
//     .rating--stars {
//         font-size: 15px;
//         line-height: 27px;
//     }
// }
// .pds-cockpit__colorSwitch {
//     display: flex !important;
//     flex-wrap: wrap;
//     li {
//         max-width: 25%;
//         -ms-flex: 0 0 25%;
//         flex: 0 0 25%;
//     }
//     .productItemColor{
//         // width: 89%;
//         // height: auto;
//         width: 57px;
//         height: 57px;

//         img {
//             height: 55px;
//             width: 55px;
//         }
//         &.active {
//             border-width: 2px;
//         }
//     }
// }
// #addToWishlistForm {
//     max-width: 50%;
//     -ms-flex: 0 0 50%;
//     flex: 0 0 50%;
// }
#addToWishlistButton {
    margin: 0;
    background-color: #F5F5F5;
    border-bottom: none;
    position: relative;
    padding: 0;
    height: 44px;

    &::before {
        content: "";
        // background-color: #f2f1f0;
        background: no-repeat center center #F5F5F5 url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 16c-4.289-4.047-6.5-4.783-7-7.5C1.06 5.172 3.557 2 6 2.5 7.6 2 9 2.7 10 5c1-2.3 2.4-3 4-2.5 2.443-.5 4.94 2.672 4.5 6-.5 2.717-2.66 3.445-7 7.5L10 17.5 8.5 16z' stroke='%23393939' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        top: 2px;
        width: 100%;
        height: 40px;
        // border-radius: 50%;
        z-index: 1;
    }
    span {
        display: none;
    }
    &:hover,
    &:focus,
    &.kk_gemerkt {
        color: #959493;
        &::before{
            background: no-repeat center center #60b60b url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 16c-4.289-4.047-6.5-4.783-7-7.5C1.06 5.172 3.557 2 6 2.5 7.6 2 9 2.7 10 5c1-2.3 2.4-3 4-2.5 2.443-.5 4.94 2.672 4.5 6-.5 2.717-2.66 3.445-7 7.5L10 17.5 8.5 16z' stroke='%23ffffff' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
        }
    }
    &.kk_gemerkt {
        width: 110%;
    }
}
// #avail_container {
//     max-width: 100%;
//     -ms-flex: 0 0 100%;
//     flex: 0 0 100%;
//     padding: 11px 11px 11px 0;
//     position: absolute;
//     // bottom: -51px;
//     bottom: -37px;
//     left: 91px;
// }
// .pds-cockpit__addToWishlistButton .pds-cockpit__addToWishlistButtonIconWrapper {
//     margin-left: -11px;
//     padding: 9px 0 0 42px;
// }
// .pds-cockpit__sozialMediaShareWrapper {
//     margin-bottom: 25px;
// }

// .accordion-item:first-child {
//     > :first-child {
//         border: none;
//         padding-bottom: 5px;
//         &::before {
//             display: none;
//         }
//     }
//     .accordion-content {
//         display: block !important;
//         border: none;
//         height: auto !important;
//         padding: .38462rem .76923rem 30px !important;
//     }
// }
// .pds-cockpit__articleNumber {
//     text-align: left;
//     & + div,
//     & + div + div {
//         padding-bottom: 30px;
//     }
// }
.kk_subline {
    margin-top: 10px;
}
.footerBenefitWrapper {
    border-top: 1px solid #e5e4e3;
    border-bottom: 1px solid #e5e4e3;
    padding: 14px 18px 22px;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 !important;

    > .listItem {
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        max-width: 32%;
        a {
            white-space: normal;
            display: block;
            text-align: center;
            line-height: 16px;

            &::before{
                display: block;
                margin: 12px auto !important;
                min-height: 30px;
            }
        }
    }

    & + div {
        padding: 25px 18px 22px;
        margin: 0;
    }
    & + div + div {
        padding: 10px 18px 22px;
    }
}

.row.footerWrapper.hide-for-print + .row.hide-for-print.collapse.expanded {
    display: none;
}

.breadcrumbs {
    margin: 2px 0 0 4px;
    li.breadcrumb--back {
        &::before {
            font-family: "FontAwesome";
            font-weight: normal;
            content: "\f104";
            font-size: 22px;
            background-image: none;
            width: 13px;
            height: 26px;
            position: absolute;
            top: 5.5px;
        }
        a {
            font-family: "Roboto Condensed Bold";
            font-weight: normal;
            font-size: 13px;
            padding-left: 18px;
            text-transform: uppercase;
            b {
                font-weight: bold;
            }
        }
    }
}
.js_backstopWrapper > .row > .column.small-12:first-child {
    position: absolute;
    z-index: 10;
    width: 30%;
    height: 33px;
    > .h-xsmallOffset-top-inner {
        padding-top: 5px;
        padding-left: 3px;
    }
}


button.mz-button.mz-button-close {
    top: 12px !important;
    right: 12px !important;
}
.button.success,
.pds-cockpit__addProductWrapper {
    margin: 0 !important;
}
.pds-cockpit__addProductWrapper  {
    .yCmsContentSlot {
        padding: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
        & + div {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
            padding: 0;
        }
    }
}
.button.success {
    height: 44px;
    background-color: #373939;
    .pds-cockpit__addToCartButtonIconWrapper {
        background-image: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB17/shoppingbag.svg");
        background-position: 0 .7rem;
        font-family: "Roboto Condensed Bold";
        font-weight: normal;
        letter-spacing: 0.04em;
        font-size: 16px;
    }
    
}
// .js-availability-info  {
//     white-space: nowrap;
// }
.certificateTextWrapper {
    line-height: 1.6;
}

.row.h-mediumOffset-bottom-outer,
.pds-cockpit__sozialMediaShareWrapper {
    display: none;
}
#addToWishlistForm {
    margin-left: 14px;
}

.productInfoAccordion {
    padding: 0;
    a.accordion-title {
        padding-right: 24px;
        padding-left: 24px;
        &::before {
            right: 2rem;
        }
    }
    .accordion-content {
        padding-right: 24px;
        padding-left: 24px;
    }
}

// .accordion-item {
//     > a {
//         display: none;
//     }
//     > .accordion-content {
//         border: none;
//     }
// }
.kk_show {
    display: block !important;
}
.kk_hide {
    display: none !important;
}
#kk_infoTabs {
    min-height: 54px;
    // height: 100%;
    margin-top: 50px;
    .flickity-viewport {
        min-height: 54px;
    }
    .kk_carousel {
        display: inline-block;
        padding: 10px 6px 10px 24px;
        font-family: "Roboto Condensed Bold";
        font-size: 18px;
        white-space: nowrap;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #969A9C;
        height: 100%;
        width: auto;
        &.kk_active {
            color: #373939;
            // text-decoration: underline;
            &::after {
                content: "";
                border-top: 1px solid #6D7273;
                display: block;
                margin-top: 3px;
            }
        }
    }
    // .flickity-slider {
    //     min-width: 200%;
    // }
    // div[data="Produktbeschreibung"] {
    //     width: 171px;
    // }
    // div[data="Ausgezeichnete_Qualitaet"] {
    //     width: 253px;
    // }
    // div[data="Material"] {
    //     width: 101px;
    // }
    // div[data="Made_In"] {
    //     width: 98px;
    // }
    // div[data="Pflege"] {
    //     width: 89px;
    // }
}
#kk_infoContent > div {
    border: none;
    padding: 0 24px 25px
}
#Produktbeschreibung {
    .pds-productDescription__text {
        margin-bottom: 35px;
    }
    .pds-cockpit__shortDescription {
        margin-bottom: 35px;
        padding-right: .76923rem;
        padding-left: .76923rem;
    }
    .pds-cockpit__articleNumber {
        text-align: left;
        padding-left: .76923rem;
    }
}
#Material {
    .h-no-padding-left {
        padding-left: .76923rem;
    }
    .shrink + .h-no-padding-left {
        padding-left: 0;
    }
}
.js-completeTheLookWrapper {
    padding: 0 !important;
}
.row.h-largeOffset-bottom-outer.hide-for-small-only,
.pds-completeTheLookWrapper > div {
    display: block !important;
    margin-bottom: 0 !important;
}
.js-jump-complete-look {
    // display: inline-block !important;
    font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
    font-weight: normal !important;
    height: 72px;
    font-size: 14px;
    margin-top: 31px;
    // min-width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0;
    padding: 29px 0 0 43px !important;
    text-align: left;
    text-decoration: none !important;
    &::after {
        content: "";
        border-top: 1px solid #6D7273;
        display: block;
        margin-top: 2px;
    }
}

.kk_nachhaltig {
    background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB17/background.jpg") no-repeat center center;
    background-size: cover;
    padding: 56px 24px 31px;
    h4 {
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 53px;
        span {
            font-family: "Roboto Condensed",Helvetica,Arial,"Archer A",sans-serif;
            font-weight: 100;
        }
    }
    div {
        // padding: 0 0 16px 86px;
        padding-bottom: 23px;
        h5 {
            font-family: "Roboto",Helvetica,Arial,"Archer A",sans-serif;
            font-size: 32px;
            font-weight: 300;
            letter-spacing: 0.03em;
            line-height: 120%;
            text-transform: none;
            white-space: nowrap;
            padding: 15px 0 0 73px;
            margin: 0;
            min-height: 74px;
            position: relative;
            b {
                font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
                font-size: 16px;
                line-height: 100%;
                text-transform: uppercase;
                letter-spacing: 0.03em;
                padding-left: 11px;
                position: absolute;
                display: block;
                top: 17px;
                right: 0;
                width: 46%;
            }
        }
        p {
            font-size: 11px;
            line-height: 130%;
            letter-spacing: 0.04em;
        }
    }
    sup {
        font-size: 16px;
        top: -13px;
    }
    small {
        padding: 7px 0 0;
        text-align: center;
        display: block;
        font-size: 11px;
        line-height: 150%;
        opacity: 0.7;
    }
}
.kk_water {
    background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB17/Icon-Wasser.svg") no-repeat -10px 6px;
    background-size: auto 51px;
}
.kk_cloud {
    background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB17/Icon-CO2.svg") no-repeat 0 8px;
    background-size: 60px auto;
}
.kk_earth {
    background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB17/Icon-Blatt.svg") no-repeat -7px 6px;
    background-size: auto 55px;
}
.pds-completeTheLookWrapper {
    display: none;
}

#kk_ctlwrapper {
    .item__image {
        padding: 24px 0 0 24px;
        width: 43%;
        min-height: 304px;
    }
}
.kk_ctl {
    .kk_subline {
        font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
        font-size: 13px;
        line-height: 120%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 24px 24px 0;
        color: #969A9C;
    }
    // .desc-name {
    //     font-size: 11px;
    //     line-height: 130%;
    //     letter-spacing: 0.04em;
    //     text-align: left;
    // }
    // .price {
    //     font-size: 11px;
    //     line-height: 130%;
    //     font-weight: 400;
    // }
    .desc-price {
        text-align: left;
    }
}
#ecRecommendationsContainer.flickity-productslider.flickity-productslider .productitem {
    padding: 0 0 0 24px;
    width: 43%;
    .desc-price {
        height: 15px;
        text-align: left;
        .price.full.hide {
            & + .price + .price + .price {
                margin-left: -6px;
            }
        }
    }
}
.flickity-viewport {
    .desc-name {
        font-size: 11px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-align: left;
        text-transform: none;
    }
    .price {
        font-size: 11px;
        font-weight: 400;
        line-height: 130%;
    }
}
.kk_teaser,
.recommendation-headline {
    font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 4px 24px 24px !important;
    text-align: left;
}
.recommendation-headline {
    margin: 60px 10px 0 !important;
    font-size: 24px;
    line-height: 100%;
    font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
}


// #kk_rating {
//     overflow: hidden;
//     background: #FAFAFA;
//     padding: 43px 0 24px;
//     font-size: 18px;
//     > div:first-child {
//         font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
//         font-size: 18px;
//         letter-spacing: 0.03em;
//         margin: 0 24px;
//     }
//     .rating--stars,
//     .color-medium-gray {
//         font-size: 12px;
//         letter-spacing: 4px;
//     }    
// }
// #kk_rating_gallery {
//     padding-left: 24px;
//     .flickity-viewport {
//         overflow: visible;
//         transition: height 0.8s;
//     }
//     .js_ratingItem {
//         background: #FFFFFF;
//         box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08), 0px 4px 24px rgba(0, 0, 0, 0.12);
//         border-radius: 3px;
//         width: 80%;
//         margin: 24px 12px 12px 0;
//         display: flex !important;
//         padding: 24px;
//         // height: 100%;
//         flex-direction: column;
//         > .rating__title {
//             order: 4;
//             padding-top: 16px;
//             p {
//                 margin: 0;
//             }
//         }
//         > .rating__headline {
//             order: 1;
//             display: flex;
//             flex-direction: row;
//             padding-bottom: 18px;
//             justify-content: flex-start;
//             align-items: flex-start;
//             .shrink {
//                 order: 2;
//             }
//             .expanded {
//                 order: 1;
//                 font-size: 16px;
//                 font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
//             }
//         }
//         > .rating__text {
//             order: 2;
//             font-size: 13px;
//             line-height: 160%;
//             letter-spacing: 0.04em;
//             font-weight: normal;
//         }
//         > .rating__comment {
//             order: 3;
//             font-size: 13px;
//             line-height: 160%;
//             letter-spacing: 0.04em;

//         }
//         strong.title__name {
//             font-size: 13px;
//             line-height: 160%;
//             font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
//             font-weight: normal;
//             padding-left: 24px;
//             background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB17/account.svg") no-repeat left center;
//         }
//         .title__date {
//             margin-left: 20px;
//             color: #969A9C;
//             font-size: 13px;
//             line-height: 160%;
//             letter-spacing: 0.04em;
//         }
//     }
// }


// .ratingAccordion {
//     .accordion-item {
//         &:first-child {
//             display: none !important;
//         }
//         &:last-child {
//             display: block !important;
//         }
//     }
// }

#kk_ratingnew {
    // font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
    // font-weight: normal;
    font-size: 20px;
    color: #353939;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .kk_grey {
        color: #ABABB1;
    }
    u {
        font-size: 14px;
        padding: 0 20px;
    }
    .rating--stars {
        float: right;
    }
}
.kk_bar {
    height: 5px;
    width: 90%;
    background-color: #D8D8D8;
    span {
        display: block;
        height: 5px;
        background-color: #393939;
    }
}
#kk_ratingbox {
    margin-bottom: 30px;
}
.kk_ratingrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    div:first-child {
        width: 10%;
    }
    &.kk_showgreen {
        div {
            color: #60b60b;
        }
        span {
            background-color: #60b60b;
        }
    }
}


#accordion-rating {
    padding-left: 24px;
    padding-right: 24px;
}
#accordion-rating-label {
    padding-left: 24px;
    padding-right: 24px;
    font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #353939;
    letter-spacing: 0.8px;
    line-height: 25px;
}

#accordion-review-label {
    background-color: #FAFAFA;
    display: block !important;
    border-color: #EAEBEB;
    font-size: 18px;
    font-family: "Roboto Condensed Bold",Helvetica,Arial,"Archer A",sans-serif;
    line-height: 100%;
    letter-spacing: 0.03em;
    padding: 22px 24px 23px;
    text-transform: uppercase;
    margin: 0;
    &::before {
        display: none;
    }
    &::after {
        background: transparent url(https://www.hessnatur.com/_ui/responsive/common/images/icons/icon_arrow-bottom.png) 50% 50% no-repeat;
        content: "";
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-left: 18px;
    }
}
.is-active #accordion-review-label::after {
    background-image: url(https://www.hessnatur.com/_ui/responsive/common/images/icons/icon_arrow-top.png);
}
#accordion-review {
    background-color: #FAFAFA;
}