
// .pds-productImage__mzKeyVisualWrapper.show-for-large {
//     width: 300px;
//     max-width: 300px;
//     padding: 0;
//     margin: 0 10px;
// }
.pds-productImage__mzThumbsWrapper {
    position: absolute;
    top: 1011px;
    max-width: 601px;
    left: -139px;
}
.pds-productImage__mzThumbsWrapper a {
    margin-right: 17px;
    width: 90px;
    float: left;
}
.pds-productImage__mzKeyVisualWrapper {
    max-width: 545px;
}
