/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */
#kk-seo .column {
    margin-bottom: 45px;

    h1 {
        font-size: 2.23077rem;
    }

    p {
        line-height: 18px;
    }
}

.kk-seo-img div {
    background-repeat: no-repeat;
    height: 100%;

    &.kk-seo-right {
        background-position: right 0;
    }
}