/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/** BADGES **/
.productItemAttributes,
.footerSmoBoxWrapper,
#toggleModel {
    display: none;
}

.productItemColorContainer {
    margin-top: 1rem;

    & > .menu {
        display: none;
    }

    .text-center {
        text-align: left;

        &:nth-child(3) {
            margin-bottom: 6px;
        }

        .productPrgWrapper span,
        .shrink {
            padding-left: 0;
        }
    }
}

/** BADGES **/
.kk-icons {
    margin-bottom: 6px;
    font-family: @font-bold;
    
    span {
        padding-left: 12px;
    }

    span:nth-child(1) {
        padding-left: 0;
    }

    .kk-vegan {
        // color: #81B539;              // altes icon
        color: #a1b290;                 // pgn (design)
    }
}

/** HEADER **/
.js-filter-form {
    // padding-left: 0;

    .filterRow {
        min-height: 40px;
    }
} 

#kk-header {
    height: 215px;
    background: #fafafa;

    .column {
        display: flex;
        align-items: center;
    }
}

#kk-headline {
    text-transform: uppercase;
    font-family: @font-bold;
    font-size: 4rem;
    width: 70%;
}

#kk-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & > div {
        position: relative;
    }

    h1 {
        display: none;
    }

    p {
        line-height: 22px;
        font-family: @font-normal;
    }

    a {
        position: absolute;
        right: 20px;
        bottom: -35px;
        font-size: 1.4rem;
        font-family: @font-bold;
        text-decoration: underline;
    }
}

#kk-select {
    // padding-right: 0;

    li {
        padding-right: 8px;

        &:nth-child(1) {
            padding-right: 12px;
        }

        label {
            cursor: pointer;
        }
    }

    .changeArticleViewItem {
        display: block;
        height: 1.53846rem;
        width: 1.53846rem;
        margin-top: .46154rem;
        margin-right: 0;
    }

    .changeArticleViewItem.-icon-model {
        background: url(https://www.hessnatur.com/_ui/responsive/common/images/icons/icon_personView.png) no-repeat 0 100%
    }
    
    .changeArticleViewItem.-icon-article {
        background: url(https://www.hessnatur.com/_ui/responsive/common/images/icons/icon_shirtView.png) no-repeat 0 100%
    }
    
    .changeArticleViewItem:hover {
        background-position: left -1.53846rem;
        font-weight: 700
    }
    
    .changeArticleViewItem:focus {
        text-decoration: none
    }

    .kk-model-active {
        background-position: left -1.53846rem !important;
        font-weight: 700;
    }
    
    .kk-article-active {
        background-position: left -1.53846rem !important;
        font-weight: 700
    }
}

/** SEO CONTENT **/
#kk-more {
    position: absolute;
    top: -240px;
}

#kk-seo {
    position: relative;
    margin-top: 100px;

    li {
        position: relative;
        list-style: none;

        &:before {
            content: " ";
            position: absolute;
            top: 10px;
            left: -17px;
            width: 15px;
            height: 15px;
            background: url('@{base-url}check.svg') no-repeat 0 0;
        }
    }

    .column {
        position: relative;
        margin-bottom: 65px;

        &:nth-child(1):before,
        &:nth-child(2) > div:before {
            position: absolute;
            top: -70px;
            content: " ";
            width: 100%;
            height: 1px;
            background:#e5e4e3;
        }
    
        h1, h2 {
            margin-bottom: 1.1rem;
            font-size: 1rem;
            font-family: @font-bold;
        }
    
        p {
            line-height: 22px;
            font-family: @font-normal;
        }
    }

    .kk-seo-img div {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% auto;
    
        &.kk-seo-right {
            background-position: right 0;
        }
    }
}

@media (max-width: 680px) {

    #kk-header {
        flex-direction: column;
    }
}