/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

#kk_newsearch {
    left: 334px;
    top: 54px;
    position: absolute;
    transition: left .5s;
    min-width: 240px;
}
#kk_suggest_layer {
    left: 30px;
    top: 88px;
}