/* IMPORT VAR LESS FILE */
@import "vars.less";

// DEFINE GLOBAL CSS
// Beispiel für die Verwendung der Variable base-url
// background: url('@{base-url}sprite.png') no-repeat 0 0;


.kk_shippingfree {
    height: 38px;

    .h-xsmallOffset-top-outer {
        display: none;
    }
    strong:first-child {
        position: relative;
        padding-bottom: 30px;
        &::after {
            content: "Versand";
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    strong:last-child {
        position: relative;
        padding-bottom: 30px;
        &::after {
            content: "Gratis";
            color: #60b60b;
            font-size: 13px;
            position: absolute;
            bottom: 0;
            right: 0;
            // font-weight: normal;
        }
    }
}

#miniCartDropdown .kk_green {
    font-weight: bold;
}

// .yCmsContentSlot + .column {
//     position: relative;
// }

.kk_wknurnoch {
    background: url("https://s3.eu-central-1.amazonaws.com/kk-ffm/hessnatur/2019/Sprint01/lkw.svg") #f5ffeb no-repeat 20px center;
    // background-color: #f5ffeb;
    width: 235px;
    height: 100px;
    position: absolute;
    left: -64px;
    top: 0;
    padding: 19px 15px 0 86px;

    > span {
        font-family: "Archer A","Archer B","Archer",serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 7px;
        display: block;
        white-space: nowrap;
    }
    small {
        font-size: 13px;
        font-weight: 100;
        display: block;
    }
    &::after {
        content: "";
        border-top: 50px solid transparent;
        border-left: 40px solid #f5ffeb;
        border-bottom: 50px solid transparent;
        position: absolute;
        top: 0;
        right: -40px;
    }
}
.kk_only {
    position: relative;
    height: 90px;
}
.kk_hide {
    display: none;
}
.kk_green {
    color: #60b60b;
    font-size: 13px;
}

// TODO NUR auf Dankeseite
.kk_gratis .print-page-break-avoid .row:first-child .medium-offset-6.large-5 {
    padding-bottom: 15px;
}

.js-price-info .kk_green {
    font-weight: bold;
}

.kk_wklfree {
    background: url("https://s3.eu-central-1.amazonaws.com/kk-ffm/hessnatur/2019/Sprint01/lkw.svg") transparent no-repeat 0 center;
    padding-left: 65px;
    b {
        white-space: nowrap;
        font-family: "Archer A","Archer B","Archer",serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }
    small {
        white-space: nowrap;
        font-size: 13px;
        font-weight: 100;
        display: block;  
    }
    & + & {
        display: none;
    } 
}
#addToCartForm .kk_wklfree {
    font-size: 12px;
    padding-left: 50px;
    background-size: auto 24px;
    background-position: 0 4px;
    line-height: 14px;
    width: 219px;
    float: right;

    .kk_green {
        display: inline;
        font-weight: bold;
    }
}


.sidebarNav .kk_wknurnoch {
    position: relative;
    left: 0;
    margin-top: 20px;
    height: auto;
    padding: 69px 30px 30px;
    background-position: 30px 30px;
    width: 260px;
    max-width: 100%;

    small {
        line-height: 18px;
    }

    &::after {
        display: none;
    }
}

.kk_homewrapper {
    width: 100%;
    background-color: #f5ffeb;

    .kk_wknurnoch {
        position: relative;
        left: 0;
        margin: 0 auto;
        width: 426px;
        padding: 22px 0 0 86px;
        height: 84px;

        &::after {
            display: none;
        }
    }
    
}
@media (max-width: 1250px) and (min-width: 900px) {
    .kk_break {
        display: none !important;
    }
}
@media (max-width: 1200px) and (min-width: 319px) {
    #addToCartForm .kk_wklfree {
        margin: 20px auto 30px;
        width: 223px;
        float: none;
    }
}
@media (max-width: 1160px) and (min-width: 640px) {
    .kk_wknurnoch {
        left: -128px;
    }
}
@media (max-width: 640px) and (min-width: 319px) {
    .kk_homewrapper {
        .kk_wknurnoch {
            max-width: 100%;
            height: auto;
            padding-right: 55px;
            padding-bottom: 20px;
            background-position: 23px 24px;

            span {
                font-size: 19px;
                line-height: 18px;
            }
            small {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
    .js-product-grid {
        .kk_wknurnoch {
            position: relative;
            left: 0;
            margin: 0 0 30px;
            width: 100%;
            padding-right: 55px;
            &::after {
                display: none;
            }
        }
    }

    .off-canvas > .kk_wklfree,
    .h-xsmallOffset-bottom-outer > .kk_wklfree {
        background: none;
        text-align: right;
        font-size: 12px;
        padding: 22px 10px;
        .kk_green {
            font-size: 12px;
            font-weight: bold;
        }
    }

    .kk_wklfreeMobile {
        background-color: #f5ffeb;
        width: 92%;
        margin: 20px 10px;
        text-align: center;
        padding: 13px 2px;
        position: relative;

        b {
            display: block;
            white-space: nowrap;
            font-family: "Archer A","Archer B","Archer",serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
        }
        small {
            font-weight: 100;
            font-size: 12px;
            line-height: 18px;
        }

        &::before {
            content: "";
            border-right: 15px solid transparent;
            border-bottom: 15px solid #f5ffeb;
            border-left: 15px solid transparent;
            position: absolute;
            top: -15px;
            right: 10px;
        }

    }
    .kk_only {
        height: auto;
        .kk_wknurnoch {
            background-image: none;
            position: relative;
            width: 100%;
            padding: 15px;
            height: auto;
            left: 0;
            margin: 25px 0 -20px;
            text-align: right;

            &::before {
                content: "";
                border-right: 15px solid transparent;
                border-bottom: 15px solid #f5ffeb;
                border-left: 15px solid transparent;
                position: absolute;
                top: -15px;
                right: 10px;
            }
            &::after {
                display: none;
            }
        }
    }
}
