/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
//@import "../global/global.less";

/* DEFINE VARIATION CSS */
.kk_highlight-header{
  
  >div{
    padding: 0.8rem;
    background-color: #f9f089;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}