/* IMPORT VAR LESS FILE */
/* DEFINE VARS */
/* IMPORT GLOBAL LESS FILES */
/* IMPORT VAR LESS FILE */
/* DEFINE VARIATION CSS */
#kk_highlights_header {
  padding-bottom: 0!important;
}
#kk_popular_header,
#kk_highlights_header,
.kk_container {
  max-width: 147.69231rem;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  grid-gap: 0;
}
#kk_popularities_content > div > div > div {
  text-align: center;
}
.kk_h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
#kk_highlights_content .price.special {
  font-weight: 600;
}
.kk_children_50 {
  width: 100%;
  background-color: #FAFAFA;
  padding: 25%;
}
.kk_children_50 > img {
  width: 100%;
}
.kk_furtherArticles,
.kk_badge {
  font-family: Roboto Condensed !important;
}
.kk_furtherArticles {
  flex-direction: row;
  margin: 3rem 0;
}
.kk_furtherArticles > span {
  text-transform: none;
  border-bottom: 1px solid rgba(55, 57, 57, 0.3);
  border-bottom-width: 0.07692rem;
  font-size: 11pt;
  font-weight: 200;
}
.kk_isDesktop {
  display: none;
}
.kk_isMobile {
  display: flex;
}
.kk_justify-content-center {
  justify-content: center;
}
.kk_align-items-center {
  align-items: center;
}
.kk_justify-content-end {
  justify-content: flex-end;
}
.kk_flex-direction-col {
  flex-direction: column;
}
.kk_badge {
  font-size: 11pt !important;
  font-weight: 600;
}
.kk_badge + h4 {
  text-transform: none;
  font-size: 1.06rem;
}
.kk_badge > span {
  margin-bottom: 0.38462rem;
}
.kk_badge .kk_sales {
  color: #D34544;
  text-transform: uppercase;
}
.kk_badge .kk_vegan {
  color: #94A880;
  text-transform: uppercase;
}
.kk_badge .kk_neu {
  color: black;
  text-transform: uppercase;
}
.kk_flex {
  display: flex;
}
.kk_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.kk_contest {
  background-color: #88bee1;
  color: white;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.kk_contest .kk_first_line {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bolder;
  margin-bottom: 0.8rem;
}
.kk_contest .kk_second_line {
  font-size: 1.2rem;
  font-weight: bold;
}
.kk_text-white {
  color: white;
}
.kk_bottom-border_white {
  text-decoration-line: none;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid white;
}
@media screen and (min-width: 40em) {
  .kk_furtherArticles,
  .kk_badge {
    font-size: 13pt !important;
    font-weight: 600;
  }
  #kk_popularities_content .kk_h4 {
    text-align: center;
    font-size: 13pt !important;
    font-weight: 600;
  }
  .kk_furtherArticles > span {
    margin-right: 20px;
    border-bottom: 1px solid rgba(55, 57, 57, 0.3);
    border-bottom-width: 0.07692rem;
    font-size: 13pt;
    font-weight: 600;
  }
  .kk_isDesktop {
    display: flex;
  }
  .kk_isMobile {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  #kk_highlights_content img {
    width: 435px;
  }
  .kk-large-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
/* DEFINE VARIATION CSS */
#kk_highlights_header {
  padding-bottom: 0!important;
}
#kk_popular_header,
#kk_highlights_header,
.kk_container {
  max-width: 147.69231rem;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  grid-gap: 0;
}
#kk_popularities_content > div > div > div {
  text-align: center;
}
.kk_h4 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
#kk_highlights_content .price.special {
  font-weight: 600;
}
.kk_children_50 {
  width: 100%;
  background-color: #FAFAFA;
  padding: 25%;
}
.kk_children_50 > img {
  width: 100%;
}
.kk_furtherArticles,
.kk_badge {
  font-family: Roboto Condensed !important;
}
.kk_furtherArticles {
  flex-direction: row;
  margin: 3rem 0;
}
.kk_furtherArticles > span {
  text-transform: none;
  border-bottom: 1px solid rgba(55, 57, 57, 0.3);
  border-bottom-width: 0.07692rem;
  font-size: 11pt;
  font-weight: 200;
}
.kk_isDesktop {
  display: none;
}
.kk_isMobile {
  display: flex;
}
.kk_justify-content-center {
  justify-content: center;
}
.kk_align-items-center {
  align-items: center;
}
.kk_justify-content-end {
  justify-content: flex-end;
}
.kk_flex-direction-col {
  flex-direction: column;
}
.kk_badge {
  font-size: 11pt !important;
  font-weight: 600;
}
.kk_badge + h4 {
  text-transform: none;
  font-size: 1.06rem;
}
.kk_badge > span {
  margin-bottom: 0.38462rem;
}
.kk_badge .kk_sales {
  color: #D34544;
  text-transform: uppercase;
}
.kk_badge .kk_vegan {
  color: #94A880;
  text-transform: uppercase;
}
.kk_badge .kk_neu {
  color: black;
  text-transform: uppercase;
}
.kk_flex {
  display: flex;
}
.kk_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.kk_contest {
  background-color: #88bee1;
  color: white;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.kk_contest .kk_first_line {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bolder;
  margin-bottom: 0.8rem;
}
.kk_contest .kk_second_line {
  font-size: 1.2rem;
  font-weight: bold;
}
.kk_text-white {
  color: white;
}
.kk_bottom-border_white {
  text-decoration-line: none;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid white;
}
@media screen and (min-width: 40em) {
  .kk_furtherArticles,
  .kk_badge {
    font-size: 13pt !important;
    font-weight: 600;
  }
  #kk_popularities_content .kk_h4 {
    text-align: center;
    font-size: 13pt !important;
    font-weight: 600;
  }
  .kk_furtherArticles > span {
    margin-right: 20px;
    border-bottom: 1px solid rgba(55, 57, 57, 0.3);
    border-bottom-width: 0.07692rem;
    font-size: 13pt;
    font-weight: 600;
  }
  .kk_isDesktop {
    display: flex;
  }
  .kk_isMobile {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  #kk_highlights_content img {
    width: 435px;
  }
  .kk-large-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
