/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

#kk_newreco {
    margin-top: 0;
    margin-bottom: 0;
    padding: 4rem 0 10rem;
    background-color: #f7f6f5;
    .flickity-prev-next-button {
        background: #f7f6f5;
        border-radius: 50%;
        &:hover {
            background: #eee;
        }
    }
    .h4.text-center {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 1190px) and (min-width: 1024px) {
    #kk_newreco {
        margin-top: 0;
        margin-bottom: 0;
        padding: 2rem 0 3rem;
    }
}

// MV Anpassung Tweak
#kk_newreco .productitem {
    position: relative;
}

.kk-badge {
    position: absolute;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    left: 25px;
    top: 475px;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
}

.kk-badge-fav {
    padding-left: 30px;
    background: #F9DC02 url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB13-2/thumb-up.svg) no-repeat 10px 5px;
}

.kk-badge-asked {
    background: #F1F1F1;
}
