/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
// @import "../global/global.less";


/* IMPORT VAR LESS FILE */
@import "../variation-01/style.less";


.availability-ready[style*="none"] + br {
    display: none;
}
.columns.small-6.medium-9.medium-h-no-padding-right-large.large-5.h-mediumOffset-bottom-outer {
    padding-left: 0;  
}
.columns.small-6.medium-9.medium-h-no-padding-right-large.large-5.h-mediumOffset-bottom-outer + div {
    flex: 0 0 33%;
    max-width: 33%;
}




