/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

#kk_searchToggle {
    display: none;
}

@media (min-width: 1024px) {
    .meta-navigation .badge--hollow {
        display: none;
        background: #bbb;
        border-radius: 20px;
        font-size: 10px;
        line-height: 11px;
        padding: 1px 4px;
        position: absolute;
        left: 9px;
        bottom: 0px;
        color: #fff;
        border: 2px solid #fff;
    }


    .headerWrapper {
        margin-top: 35px;
        margin-bottom: 60px;
    }

    #header {
        margin-top: 0;

        &:before {
            content: "FAIR FASHION seit 1976";
            position: absolute;
            top: -35px;
            height: 34px;
            font-family: Archer A,Archer B,Archer,serif;
            font-size: 1.23077rem;
            background-color: #f7f6f5;
            border: none;
            box-shadow: 0 0 0 .07692rem rgba(0,0,0,.07);
            width: 100%;
            padding-left: 2.30769rem;
            padding-top: 8px;
        }
    }

    .marketingBarWrapper {
        position: absolute;
        top: -35px;

        .marketingBar {
            height: 34px;
        }
    }

    #mainNavPrgRedirectionForm {
        height: 60px;
        position: absolute;
        bottom: -60px;
        left: 0;
        width: 100%;
        display: flex;
        border-top: 2px solid #f7f6f5;
        border-bottom: 2px solid #f7f6f5;

        ul {
            justify-content: center;
        }
    }

    #search_form {
        position: absolute;
        left: 30px;
        top: 54px;
        transition: left 0.5s;
        min-width: 240px;

        > .row {
            margin-left: 0;
        }
    }

    #suggest_layer {
        left: 30px;
        top: 88px;
    }

    ul.meta-navigation.show-for-large {
        > li:nth-child(1),
        > li:nth-child(2),
        > li:nth-child(3) {
            position: absolute;
            top: -31px;
            z-index: 100;
            right: 32px;
            margin: 0;
        }

        > li:nth-child(1) {
            right: 216px;
        }

        > li:nth-child(2) {
            right: 120px;
        }
    }

    li .thirdLevelWrapper {
        margin-top: 15px;
    }

    #header {
        #mainNavPrgRedirectionForm li[aria-label="Outdoor"], 
        #offCanvasNavigation li[aria-label="Outdoor"],
        #mainNavPrgRedirectionForm > ul > li:nth-child(4){
            display: list-item;
        }
    }



    .kk_preview {
        .headerWrapper {
            height: 84px;
        }
        #header {
            > .h-largeOffset-left-inner-large > .row.align-middle {
                height: 84px;
                > .column.small-4.medium-2 {
                    padding: 0;
                    position: relative;
                }
            }
        }
        .logoContainer {
            img {
                height: 58px;
                width: 212px;
                position: absolute;
                top: -28px;
                left: 50%;
                margin-left: -106px;
                max-width: none;
            }
        }
        #search_form {
            top: 61px;
        }
    
    }
    

}

// #kk_searchToggle{display:none}@media (min-width:1024px){.meta-navigation .badge--hollow{display:none;background:#bbb;border-radius:20px;font-size:10px;line-height:11px;padding:1px 4px;position:absolute;left:9px;bottom:0;color:#fff;border:2px solid #fff}.headerWrapper{margin-top:35px;margin-bottom:60px}#header{margin-top:0}#header:before{content:"FAIR FASHION seit 1976";position:absolute;top:-35px;height:34px;font-family:Archer A,Archer B,Archer,serif;font-size:1.23077rem;background-color:#f7f6f5;border:none;box-shadow:0 0 0 .07692rem rgba(0,0,0,.07);width:100%;padding-left:2.30769rem;padding-top:8px}.marketingBarWrapper{position:absolute;top:-35px}.marketingBarWrapper .marketingBar{height:34px}#mainNavPrgRedirectionForm{height:60px;position:absolute;bottom:-60px;left:0;width:100%;display:flex;border-top:2px solid #f7f6f5;border-bottom:2px solid #f7f6f5}#mainNavPrgRedirectionForm ul{justify-content:center}#search_form{position:absolute;left:30px;top:54px;transition:left .5s;min-width:240px}#search_form>.row{margin-left:0}#suggest_layer{left:30px;top:88px}ul.meta-navigation.show-for-large>li:nth-child(1),ul.meta-navigation.show-for-large>li:nth-child(2),ul.meta-navigation.show-for-large>li:nth-child(3){position:absolute;top:-31px;z-index:100;right:32px;margin:0}ul.meta-navigation.show-for-large>li:nth-child(1){right:216px}ul.meta-navigation.show-for-large>li:nth-child(2){right:120px}li .thirdLevelWrapper{margin-top:15px}#header #mainNavPrgRedirectionForm li[aria-label=Outdoor],#header #mainNavPrgRedirectionForm>ul>li:nth-child(4),#header #offCanvasNavigation li[aria-label=Outdoor]{display:list-item}}