/* DEFINE VARS */

@base-url: "//kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2021/01-ab-19/";

@font-normal: "Roboto Condensed", Helvetica, Arial, "Archer A", sans-serif;
@font-bold: "Roboto Condensed Bold", Helvetica, Arial, "Archer A", sans-serif;