/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

#kk_newreco {
    margin-top: 4rem;
    margin-bottom: 10rem;
}
@media only screen and (max-width: 1190px) and (min-width: 1024px) {
    #kk_newreco {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

}