/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */
.lpmHero .lpmHero__wrapper {
    display: none;
    max-height: 500px;
    overflow: hidden;
}

.kk-banner-show .lpmHero .lpmHero__wrapper {
    display: block;
}