/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
// @import "../global/global.less";

/* DEFINE VARIATION CSS */

.breadcrumbs {
    position: relative;
    padding-left: 20px;
    margin-top: -5px;
    
    li {
        line-height: 14px;
        font-size: 10px;
        height: 15px;
        text-transform: uppercase;
        padding-right: 16px;
        position: relative;

        &:nth-child(2) a {
            margin-left: -30px;
            padding-left: 30px;
            &::before {
                content: "";
                background-image: url(https://www.hessnatur.com/_ui/responsive/common/images/icons/arrow-left-bold.svg);
                border: 0;
                display: inline-block;
                height: 20px;
                width: 20px;
                left: -19px;
                top: -1px;
                position: absolute;
            }
        }
        &:last-child {
            float: none;
            font-size: 13px;
            line-height: 20px;
            font-weight: 600;
            strong:last-child {
                display: none;
            }
        }
        &:not(:last-child)::after {
            content: "|";
            color: #979797;
        }
        &:nth-last-child(2)::after {
            content: "";
        }
        &::after {
            position: absolute !important;
            right: 0;
            top: -1px !important;
        }
    }
    a {
        line-height: 14px;
        text-decoration: none !important;
    }
}

.small-up-1 > .column.gridviewProductItemWrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 2px 2px 30px;
}
.gridviewProductItemImageWrapper {
    overflow: hidden;
}
.whishList {
    white-space: nowrap;
    padding: .76923rem;
    padding-left: 2.30769rem;
    transition: background-image .3s linear;
    border-radius: 50%;
    margin: -15px 0 0 -17px;
    height: 50px;
    width: 50px;
    padding: 0;
    background: #fff no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 16c-4.289-4.047-6.5-4.783-7-7.5C1.06 5.172 3.557 2 6 2.5 7.6 2 9 2.7 10 5c1-2.3 2.4-3 4-2.5 2.443-.5 4.94 2.672 4.5 6-.5 2.717-2.66 3.445-7 7.5L10 17.5 8.5 16z' stroke='%23959493' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E") 21px 21px;
}
#mobile-filter li:nth-child(2),
.toggleFilterButton,
.breadcrumb--back {
    display: none !important;
}
#productFilterMobile {
    display: block !important;
}
#mobile-filter,
.tabs-content {
    border: none;
}
#mobile-filter li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    a {
        border: none;
        height: 56px;
        font-size: 12px;
        line-height: 21px;
        text-transform: uppercase;
        strong {
            font-weight: 600;
            padding-left: 30px;
        }
        &::after {
            display: none;
        }
    }
    &:first-child {
        position: relative;
        &::after {
            content: '';
            height: 26px;
            width: 1px;
            background-color: #979797;
            display: block;
            position: absolute;
            top: 14px;
            right: 0;
        }
    }
    // &:last-child {
        
    // }
}
#tabFilter-label {
    &::before {
        content: "";
        background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2019/Sprint05/filtericon.svg") no-repeat 0 0 transparent;
        height: 10px;
        width: 20px;
        display: block;
        position: absolute;
        left: 40px;
        top: 22px;
    }
}
#tabSort-label {
    &::before {
        content: "";
        background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2019/Sprint05/sorticon.svg") no-repeat 0 0 transparent;
        height: 16px;
        width: 12px;
        display: block;
        position: absolute;
        left: 40px;
        top: 20px;
    }
}
.gridviewProductFilterMobileWrapper {
    margin-bottom: 1.077rem;
}
.kk_subfilters {
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    height: 52px;
    margin: 13px -10px 0;

    & > ul {
        margin: 0;
        // width: 1000px;
        height: 39px;
        white-space: nowrap;
    }
    li {
        display: inline-block;
        padding: 0;
        border: solid 1px #555859;
        border-radius: 3px;
        margin: 0 3px 0 4px;
        label,
        & > a {
            background-color: #fff !important;
            margin: 0;
            border-radius: 3px;
            padding: 6px 14px;
            text-transform: uppercase;
            font-size: 12px;
            &::before,
            &::after {
                display: none;
            }
        }
        span {
            text-transform: uppercase;
            font-size: 12px;
            &:hover {
                text-decoration: none !important;
            }
        }
        &:last-child {
            margin-right: 30px;
        }
        ul,
        &.js-drilldown-back,
        &.is-drilldown-submenu-item.h-text-bold.h-text-uppercase,
        &.h-text-decoration-none-hover.is-submenu-item,
        &.is-drilldown-submenu-back-item {
            display: none;
        }
    }
}
.gridviewProductFilterMobileWrapper .toggleFilter {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        height: 50px;
        width: 40px;
        z-index: 10;
        right: 0;
        top: 55px;
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 78%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 78%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}
.gridviewProductFilterMobileWrapper .tabs-title.is-active .buttonTab {
    background-color: transparent;
}
.gridviewProductFilterMobileWrapper .tabs-panel.-tabs-panel-custom {
    border-top: none;
}
.gridviewProductFilterMobileWrapper .tabs-panel.-tabs-panel-custom.is-active {
    top: 11px !important;
}
#tabFilter li.column:first-child {
    display: none;
}

#tabFilter-label strong span {
    background: #393939;
    height: 14px;
    width: 14px;
    line-height: 14px;
    padding-left: 1px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    margin-left: 2px;
    display: inline-block;
    font-weight: normal;
}
.productBadgesWrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 21px;

    .productBadges {
        padding: 0 1px;
        height: 19px;
        img {
            max-height: 18px;
        }
    }
}
.gridviewProductItemWrapper .prodImgWrapper > :first-child .productItemAttributes > :first-child > :first-child {
    display: none;
}
.productItemColorContainer {
    margin-top: 0.7rem;
    .productItemColor.moreColors.moreColorsText {
        width: auto;
        height: 14px;
        line-height: 12px;
        font-size: 11px;
    }
    & > .menu {
        flex-wrap: wrap;
        li:nth-child(n+6) {
            display: none;
        }
    }
}

@media only screen and (max-width: 330px) {
    #tabFilter-label::before,
    #tabSort-label::before {
        left: 33px;
    }
}
