/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

#kk_navi ul {
    justify-content: center;
}

#kk_naviWrapper {
    border-top: 2px solid #f7f6f5;
    border-bottom: 2px solid #f7f6f5;
}

#kk_metaNavi {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin: 0;
}

.marketingBarWrapper .marketingBar {
    height: 34px;
}

#suggest_layer {
    left: 0;
}

#kk_searchWrapper {
    position: relative;

    > .yCmsComponent {
        position: absolute;
        left: -37.5rem;
        top: -9px;
        transition: left 0.5s;
    }
}

#kk_searchToggle {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#kk_searchWrapper button {
    height: 2.61538rem;
    margin-left: .61538rem;
    margin-right: 0;
    padding-top: .76923rem;
}

.meta-navigation .badge--hollow {
    display: none;
    background: #bbb;
    border-radius: 20px;
    font-size: 9px;
    line-height: normal;
    padding: 1px 4px;
    position: absolute;
    left: 9px;
    bottom: 0px;
    color: #fff;
    border: 2px solid #fff;
}