/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

/** STEP IHRE DATEN **/
// label < #registerForm #register\.title {
//     display: none;
// }
.kk-hide {
    display: none !important;
}

.kk-login {
    .js_backstopWrapper {

        +.footerWrapper,
        .h-mediumOffset-bottom-outer {
            display: none;
        }
    }

    form {
        padding-top: 1.6rem !important;
        padding-bottom: .7rem !important;

        .h3 {
            font-size: 1.77rem;
        }
    }

    .firstBox {
        order: 2;
    }

    .centerBox {
        order: 0;

        .h-offset-bottom-inner {
            margin-left: 0;
            padding-bottom: 20px;
            margin-top: -8px;
        }

        li {
            list-style: none;
            position: relative;
            padding-left: 25px;
            margin-bottom: 5px;
            font-weight: 200;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 2px;
                width: 13px;
                height: 10px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='11'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%235FB609' stroke-linecap='square' stroke-width='2'%3E%3Cpath d='M1.5 6.376l3 3M4.5 9.376L11.818 2'/%3E%3C/g%3E%3C/svg%3E") center center/contain no-repeat;
            }
        }
    }

    .lastBox {
        order: 1;

        .h-offset-bottom-inner {
            display: none;
        }
    }
}

.progressTracker {
    .progressTracker__Item__content * {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
    }

    .item--done {
        .progressTracker__Item__content {
            background: #fff;
            color: #101010;

            >:before {
                width: 100%;
                font-size: 0;
                height: 18px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='18'%3E%3Cpath fill='%235FB609' d='M23.649.359a1.182 1.182 0 00-1.698 0L7.575 15.042 2.049 9.398a1.182 1.182 0 00-1.698 0 1.244 1.244 0 000 1.733l6.375 6.51a1.183 1.183 0 001.697 0L23.65 2.092a1.244 1.244 0 000-1.733z'/%3E%3C/svg%3E") center center/contain no-repeat;
            }

            &:after {
                border-left-color: #fff;
            }
        }
    }

    .item--current {
        .progressTracker__Item__content {
            background: #4D5A78;

            >* {
                color: #fff;
            }

            &:after {
                border-left-color: #4D5A78;
            }
        }
    }

    .progressTracker__Item__content {
        background: #f6f6f5;

        >:before {
            display: block;
            font-size: 20px;
            font-weight: 400;
            margin: 5px 0;
        }

        >* {
            font-weight: 200;
            font-size: 12px;
            line-height: 18px;
        }

        &:after {
            border-left-color: #f6f6f5;
        }

        >* {
            width: auto;
            height: auto;
        }
    }

}

.kk-address {
    // .progressTracker .collapse li:first-child {
    //     // .kk-data .item--current {

    //     .progressTracker__Item__content {
    //         background: #fff;
    //         color: #101010;

    //         strong {
    //             color: #101010;
    //         }

    //         &:after {
    //             border-left-color: #fff;
    //         }
    //     }
    // }

    .js_backstopWrapper {
        +.footerWrapper {
            display: none;
        }
    }
}


#kk07_address_option--wrapper {
    strong {
        display: block;
        margin-bottom: .76923rem;
    }

    .h-largeOffset-bottom-inner {
        margin-bottom: 0.5rem;
    }
}

#loginForm {

    label,
    .small-order-1,
    .small-order-2 {
        overflow: hidden;
        max-height: 0;
    }

    .h-smallOffset-bottom-outer {
        margin-bottom: 0;
    }

    #kk07_login_toggle {
        display: block;
    }

    &.kk-show {

        label,
        .small-order-1,
        .small-order-2 {
            max-height: 200px;
            transition: max-height .5s ease-in-out;
        }

        #kk07_login_toggle {
            display: none;
        }

    }
}

// .kk-register #registerForm>.row>.columns,
.kk-data #registerForm>.row>.columns {

    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(6) {
        display: none;
    }
}

.kk-guest #registerForm>.row>.columns {

    &:nth-child(12),
    &:nth-child(13),
    &:nth-child(14),
    &:nth-child(15) {
        display: none;
    }
}

// .kk-data {
//     .item--current {

//         +.progressTracker__Item {
//             .progressTracker__Item__content {
//                 background: #f6f6f5;

//                 span {
//                     font-weight: 700;
//                     font-size: 14px;
//                     line-height: 18px;
//                 }

//                 &:after {
//                     border-left-color: #f6f6f5;
//                 }
//             }
//         }
//     }


// }

.kk-address-modified {
    // #additional--address {
    //     display: flex !important;
    // }

    #addressForm {
        >.medium-10 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            >div {
                &:first-child {
                    order: 2;
                    margin-bottom: 0.5rem;

                    .h4 {
                        margin-top: 1.5rem;
                    }

                    .invisible {
                        display: none;
                    }
                }

                &:nth-child(2) {
                    order: 0;

                    fieldset {
                        position: absolute;
                        left: -10000px;
                    }

                    .h4 {
                        margin-bottom: 0;
                    }
                }

                &:nth-child(3) {
                    order: 1;
                }

                &:last-child {
                    order: 3;
                }
            }
        }
    }
}

#addressForm {

    >.medium-10>div:first-child .columns {

        &:nth-child(4),
        &:nth-child(7),
        &:nth-child(8) {
            display: none;
        }

        &:nth-child(9) {
            order: 1;
        }

        &:nth-child(13) {
            order: 2;
        }
    }
}

.kk-address-hide body>*:not('#kk-loader') {
    opacity: 0;
}


/** LOADER **/
#kk-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: #fff;

    // https://loading.io/css/
    .lds-ring {
        position: absolute;
        margin-left: -40px;
        top: 10%;
        left: 50%;

        display: inline-block;
        width: 80px;
        height: 80px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #393939 transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

#paymentDetailsForm {
    ul {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 2rem;

        ~div {
            padding: 0 1.5rem;
        }

        li {
            width: 48%;
            margin-bottom: 15px;

            input {
                display: none;

                &:checked+label {
                    background: #FFFFFF;
                    border: 1px solid #5FB609;
                    box-shadow: none;
                }
            }

            label {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                margin: 0;
                font-weight: 700;
                text-align: center;
                background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, #EAE8E8 100%);
                border: 1px solid #E3E3E3;
                box-shadow: 0 2px 10px 0 rgba(51, 51, 51, 0.20);
                border-radius: 3px;
                height: 85px;
                transition: all .3s ease;

                &:before {
                    content: '';
                    display: block;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 45px;
                }
            }
        }
    }

    .button.hollow {
        border: 0;
        display: inline-block;
        width: auto;
        padding: 0;
        text-transform: none;
        text-decoration: underline;
        font-size: .9rem;
        margin-top: 0.9rem;
        margin-left: .25rem;

        &:before {
            content: 'Zurück ';
        }
    }
}

.kk-payment-option {
    padding: 0 .76923rem;
    margin-top: -2.5rem;

    &:before {
        content: '';
        display: inline-block;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 45px;
        margin-right: 15px;
        position: relative;
        top: 17px;
    }
}

#invoice+label,
.kk-invoice {
    padding-bottom: 5px;

    &:before {
        background-image: url('@{s3}invoice-icon.png');
        width: 24px;
    }
}

#invoice+label:before {
    height: 50px !important;
}

#paypal+label:before,
.kk-paypal:before {
    background-image: url('@{s3}paypal-icon.png');
    width: 85px;
}

#creditcard+label:before,
.kk-creditcard:before {
    background-image: url('@{s3}visa-icon.png');
    width: 107px;
}

#debitentry+label:before,
.kk-debitentry:before {
    background-image: url('@{s3}bank-icon.png');
    width: 37px;
}

#checkoutContentPanel {
    +.column {
        display: none;

        +.column .h4 {
            margin-bottom: 1.5rem;

            &:before {
                content: 'Ihr ';
            }
        }
    }

    .align-top {
        position: relative;
        margin-bottom: 0;

        .h4 {
            margin-bottom: 2.4rem;
        }

        .align-self-bottom {
            position: absolute;
            right: 0;
            top: 5px;

            .button {
                border: 0;
                padding: 0;
                margin: 0;
                text-decoration: underline;
                text-transform: capitalize;
            }
        }
    }
}

.kk-summary {
    .cart__productname {
        font-family: Roboto;
        font-size: 1.35rem;
        line-height: 1.8rem;

        +div {
            margin-top: 0.35rem;
            font-size: 11px;
        }
    }

    img+div .js-availability-status {
        width: 100%;
        height: 38px;
        padding: 1rem;
        background: rgba(255, 255, 255, .8);
        position: relative;
        top: -38px;
    }

    img~.button {
        position: relative;
        top: -50px;
        margin-left: 10px;
    }

}

#checkoutSummaryForm1 {
    .button.success {
        &:before {
            content: 'Jetzt ';
        }
    }
}

.kk-product-wrapper {
    >div {
        padding-bottom: 0;
    }

    .small-4 {

        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .small-8 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .medium-4.small-text-left {
        margin-bottom: 0;

        .h-text-muted {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            color: #393939;

            &:after {
                content: ' ';
                display: inline-block;
                width: 5px;
                height: 10px;
                background: #fff;
                position: relative;
                left: -3px;
                top: 0px;
            }
        }
    }
}

.kk-price {
    justify-content: flex-end;

    +p {
        text-align: right;
    }

    &.kk-sale-price {

        justify-content: space-between;

        +p {
            text-align: left;
        }
    }
}

.kk-sums {
    +div hr {
        display: none;
    }
}

.kk-delivery-cost {
    margin-top: -3px;

    .medium-8 {
        visibility: hidden;
    }

    .totalPrice {
        font-size: 12px;
        font-weight: 400;

        &:before {
            content: '+ ';
        }
    }

    .textLink {
        font-size: 12px;
        font-weight: 400;
        text-transform: none;
        padding: 0;
        margin: 0;
        margin-left: 3px;
    }
}

.kk-total-sum {
    +.row {
        margin-top: -3px;

        .medium-8 {
            visibility: hidden;
        }

        .medium-4 {
            font-size: 12px;
            color: #A5A4A3;

            &:before {
                content: 'enthaltene MwSt. ';
            }
        }
    }
}

#kk07_sum__savings {
    .column {
        text-align: right;
    }

    span {
        background: #F5FFEB;
        font-size: 12px;
        padding: 7px 10px;
        display: inline-block;
        margin-top: 10px;
    }
}


@media screen and (max-width: 320px) {
    .progressTracker .progressTracker__Item__content>* {
        font-size: 9px;
    }
}