/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */
// .productPrgWrapper .whishList {
//     display: none !important;
// }
.showFirstImg:hover .whishList, 
.showSecondImg:hover .whishList,
.page-cartPage .kk_remove + .js-entry-remove,
.kk_hidden {
    display: none !important;
}

.kk_wishlist {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    // border: 1px solid red;
    cursor: pointer;
    background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/heart_empty.svg") no-repeat center center;
    transition: transform 0.3s ease-in-out;

    &.kk_first {
        background-image: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/heart_orange.svg");
        &:not(.kk_added) {
            -webkit-animation: bounce-in-fwd 1.3s 4 both;
                    animation: bounce-in-fwd 1.3s 4 both;
        }
    }
    &.kk_added {
        background-image: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/heart_full.svg");
    }
    &:hover {
        transform: scale(1.2);
    }
}

.kk_darkbutton {
    display: block;
    text-transform: uppercase;
    font-family: "Roboto Condensed Bold";
    cursor: pointer;
    background-color: #373939;
    font-weight: normal;
    border-radius: 2x;
    width: 338px;
    text-align: center;
    font-size: 16px;
    height: 42px;
    line-height: 22px;
    color: #FFFFFF;
    letter-spacing: 0.12px;
    padding: 10px 20px 11px;
    &:hover {
        background-color: #1d1f1f;
    }
}

.kk_nudge {
    background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/bubblebox.png") no-repeat 0 0;
    width: 227px;
    height: 131px;
    padding: 36px 0 0 46px;
    text-align: left;
    position: absolute;
    top: 33px;
    right: -146px;
    z-index: 100000;
    cursor: default;
    b {
        font-family: "Roboto Condensed Bold";
        font-weight: normal;
        // font-weight: bold;
        font-size: 13px;
        color: #F58454;
        letter-spacing: 0.22px;
        margin-bottom: 9px;
    }
    p {
        font-size: 11px;
        margin-bottom: 3px
    }
    ul {
        margin-left: 10px;
    }
    li {
        font-size: 11px;
        line-height: 15px;
    }
    &::before {
        background-color: #F58454;
        width: 30px;
        height: 30px;
        display: block;
        border-radius: 50%;
        content: "NEU";
        font-family: "Roboto Condensed Bold";
        font-size: 9px;
        position: absolute;
        left: 8px;
        top: 30px;
        line-height: 30px;
        color: #fff;
        text-align: center;
        letter-spacing: 1.5px;
    }
    .close-button {
        cursor: pointer;
        top: 27px;
        span {
            font-weight: lighter;
        }
    }
}
.gridviewProductItemWrapper:nth-child(2) {
    z-index: 2;
}
.gridviewProductItemWrapper:nth-child(3) {
    z-index: 1;
}
#kk_wishlist_overlay {
    &.kk_open,
    &.kk_open > .reveal {
        display: block !important;
    }
}
#kk_wishlist_overlay {
    .reveal {
        width: 742px;
    }
    .kk_info {
        background-color: #F5FFEB;
        padding: 30px 21px 0 21px;
        position: relative;
        &::after {
            content: "";
            background: url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/pfeil.svg) no-repeat 0 0;
            width: 50px;
            height: 23px;
            display: block;
            position: absolute;
            top: 40%;
            right: -34px;
        }
    }
    .kk_selectors {
        background-color: #F9F8F5;
        padding: 40px 33px 10px 41px;
        h4 {
            // font-family: "Roboto Condensed";
            // font-weight: normal;
            // font-size: 22px;
            // line-height: 24px;
            // margin-bottom: 43px;
            // text-transform: none;
            // letter-spacing: normal;
            font-family: "Roboto Condensed Bold";
            font-size: 25px;
            color: #393939;
            text-align: center;
            line-height: 24px;
            margin-bottom: 9px;
            &::before {
                content: "";
                background: url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/neubadge.svg) no-repeat center center;
                width: 30px;
                height: 30px;
                display: inline-block;
                margin: 0 10px -7px 0;
            }
        }
        h5 {
            font-family: "Roboto",Helvetica,Arial,Archer A,sans-serif;
            letter-spacing: normal;
            font-weight: normal;
            font-size: 15.2px;
            line-height: 15.2px;
            margin-bottom: 2px;
        }
        small {
            font-size: 11.4px;
            line-height: 13.3px;
            margin-bottom: 15px;
        }
    }
    .row > .row {
        // background-color: #FFFFFF;
        padding: 0;
        margin: 0;

        .large-4 {
            padding: 10px 21px 16px 21px;
            background-color: #F5FFEB;
        }
        .large-8 {
            padding: 10px 21px 16px 21px;
            background-color: #F9F8F5;
        }
        button {
            text-transform: uppercase;
            cursor: pointer;
            background-color: #373939;
            text-transform: uppercase;
            font-family: "Roboto Condensed Bold";
            font-weight: normal;
            border-radius: 2x;
            width: 290px;
            text-align: center;
            font-size: 16px;
            height: 42px;
            line-height: 22px;
            color: #FFFFFF;
            letter-spacing: 0.12px;
            padding: 10px 20px 11px;
            margin-right: 14px;
            float: right;
            &:hover {
                background-color: #1d1f1f;
            }
        }
        span {
            cursor: pointer;
            padding: 5px 23px 5px 56px;
            float: right;
            width: 338px;
            font-size: 12px;
            background: transparent url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/linkarrow.svg) no-repeat 35px center;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.kk_checkbox {
    font-size: 13px;
    color: #000000;
    line-height: 17.64px;
    margin-bottom: 16px;
    background: url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/haken.svg) no-repeat 0 2px;
    padding-left: 37px;
}
.kk_trash {
    font-size: 13px;
    color: #000000;
    line-height: 17.64px;
    margin-bottom: 16px;
    background: url("https://www.hessnatur.com/_ui/responsive/common/images/icons/garbage.svg") no-repeat 10px 5px;
    padding-left: 37px;
    background-size: 20px auto;
}
.kk_service {
    background: url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/heart_full.svg) no-repeat center 23px;
    background-size: 26px auto;

    h4 {
        // font-family: "Roboto Condensed";
        // font-weight: normal;
        // font-size: 22px;
        // line-height: 24px;
        margin: 60px 0 8px;
        text-transform: none;
        letter-spacing: 0;

        text-transform: uppercase;
        font-family: "Roboto Condensed Bold";
        font-weight: normal;
        font-size: 25px;
        text-align: center;
        line-height: 26px;
    }
    // .kk_orangebox {
    //     background: #FFFBF2;
    //     border-radius: 2px;
    //     font-weight: 500;
    //     font-size: 14px;
    //     padding: 17px 5px 9px 58px;
    //     color: #F0AE18;
    //     height: 50px;
    //     margin-bottom: 16px;
    //     background: #FFFBF2 url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/infoi_orange.svg) no-repeat 12px center;
    // }

    .kk_atwork {
        background: #FFFFFF url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/inarbeit.svg) no-repeat 97px center;
        font-size: 14px;
        color: #B8BCC3;
        line-height: 15px;
        padding: 40px 90px 0 210px;
        height: 86px;
    }
    p {
        background: #FFFFFF url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/pfeil2.svg) no-repeat 490px center;
        font-size: 14px;
        margin: 22px 34px 15px;
    }
    a {
        text-transform: uppercase;
        font-family: "Roboto Condensed Bold";
        font-weight: normal;
        border-radius: 2px;
        font-size: 16px;
        color: #FFFFFF;
        float: right;
        width: 212px;
        display: block;
        text-decoration: none;
        padding: 12px 20px 13px 40px;
        text-align: center;
        letter-spacing: 0.12px;
        margin: 0 0 18px 470px;
        background: #373939 url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/button_heart.svg) no-repeat 20px center;
        &:hover {
            background-color: #1d1f1f;
        }
    }
    .kk_code {
        line-height: 34px;
        border: 1px dashed #848181;
        border-radius: 1px;
        margin-bottom: 32px;
        padding: 4px;
        text-align: center;
        height: 46px;
        #kk_copytext {
            font-family: "Roboto Condensed Bold";
            font-size: 16px;
            letter-spacing: 0.12px;
            border: none;
            background-color: #fff;
            float: left;
            width: 74%;
            margin: 0;
            padding: 0;
            text-align: center;
            height: 37px;
            cursor: text;
            &:hover {
                cursor: text;
            }
        }
        button {
            float: right;
            text-transform: uppercase;
            font-family: "Roboto Condensed Bold";
            font-weight: normal;
            background: #60B70A url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/cut.svg) no-repeat 12px center;
            border-radius: 2px;
            font-size: 13px;
            color: #FFFFFF;
            letter-spacing: 0.1px;
            width: 163px;
            cursor: pointer;
            text-align: center;
            padding: 11px 10px 12px 31px;
            height: 36px;
            transition: all 0.2s;
            &:active {
                font-size: 16px;
            }
        }
    }
    small {
        font-size: 10px;
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

}
#kk_title {
    font-weight: bold;
    font-size: 11px;
    color: #757575;
    margin: 13px 0 0;
}
#kk_price {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0;
    text-align: right;
    .priceOld {
        text-decoration: line-through;
    }
}
.kk_infoi {
    // background: url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/infoi.svg) no-repeat 0 center;
    // font-size: 15.2px;
    // line-height: 16.2px;
    // margin-bottom: 24px;
    // padding-left: 47px;
    font-size: 15px;
    text-align: center;
    line-height: 17px;
    margin-bottom: 34px;
}
.kk_whitebox {
    background-color: #FFFFFF;
    border: 1px solid #ECEFF2;
    border-radius: 1px;
    position: relative;
    padding: 17px 79px 20px 67px;
    margin-bottom: 10px;
    &:hover {
        box-shadow: 2px 2px 4px 0 #D2D2D2;
    }
    &.kk_selected .kk_check {
        background: url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/check.svg) no-repeat center center;
    }
}
#kk_menge {
    background: #FFFFFF url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/menge.svg) no-repeat 27px center;
}
#kk_sale {
    background: #FFFFFF url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/prozent.svg) no-repeat 27px center;
}
#kk_aktion {
    background: #FFFFFF url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/preisschild.svg) no-repeat 27px center;
}
.kk_check {
    cursor: pointer;
    border: 1px solid #DBD5D5;
    border-radius: 4.75px;  
    display: block;
    position: absolute;
    right: 21px;
    top: 21px;
    width: 28px;
    height: 28px;
}

.kk_gotowish {
    text-transform: uppercase;
    font-family: "Roboto Condensed Bold";
    font-weight: normal;
    background-color: #373939;
    border-radius: 2px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px 20px 11px;
    text-align: center;
    letter-spacing: 0.12px;
    height: 42px;
    &::before {
        content: "";
        background: url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/button_heart.svg) no-repeat 0 center;
        width: 24px;
        height: 21px;
        margin: 0 7px -5px 0;
        display: inline-block;
    }
    &:hover {
        color: #FFFFFF;
        background-color: #1d1f1f;
    }
    &.kk_added {
        &::before {
            -webkit-animation: bounce-in-fwd 1.3s 4 both;
            animation: bounce-in-fwd 1.3s 4 both;
            background-image: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/heart_full_white.svg");
        }
    }
}
.kk_swipeinfo {
    position: absolute;
    bottom: -15px;
    background-color: rgba(255,255,255,0.95);
    padding: 12px 8px;
    width: 100%;
    z-index: 11;
    overflow: hidden;
    height: 0;
    opacity: 0;
    -webkit-animation: swipe-up 7s 1 both;
    animation: swipe-up 7s 1 both;
    border-top: solid 2px #F58454;

    .kk_checkbox {
        background-image: url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/check.svg);
        // padding-left: 23px;
        text-align: center;
        margin-bottom: 8px;
        font-size: 12px;
        padding-left: 18px;
    }
    .kk_gotowish {
        margin: 0 auto;
        width: 132px;
        height: 23px;
        line-height: 23px;
        font-size: 10px;
        padding: 0;
        &::before {
            width: 15px;
            margin-bottom: -6px;
            background-size: 15px auto;
        }
    }
}
.kk_wishlist_modal {
    .kk_checkbox {
        text-align: center;
        padding-left: 0;
        background-position: 24px 0;
        &::before {
            content: "Gute Wahl!";
            text-transform: uppercase;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 5px;
            display: block;
            text-align: center;
            padding-top: 4px;
        }
    }
    
}

#kk_size,
#kk_size + div {
    font-size: 11px;
    color: #6A6A69;
    font-weight: bold;
    span {
        font-weight: normal;
    }
}


.kk_remove {
    cursor: pointer;
    display: block;
    background: #fff url("https://www.hessnatur.com/_ui/responsive/common/images/icons/garbage.svg") no-repeat 0 11px;
    margin: 0 1rem 1rem 0;
    width: 17px;
    height: 38px;
}
.kk_onlybuttons {
    display: none;
}
.kk_showbuttons {
    .kk_selectors,
    .row.large-12,
    #kk_title,
    #kk_size,
    #kk_size + div,
    #kk_price {
        display: none;
    }
    .kk_onlybuttons {
        display: block;
    }
    .kk_gotowish {
        margin: 110px auto 15px;
        width: 338px;
    }
    .kk_darkbutton {
        margin: 15px auto 24px;
    }
    #kk_prodinfo img {
        margin-bottom: 25px;
    }
    .kk_info {
        background-color: #F9F8F5 !important;
    }
}
#kk_skip {
    margin: 0 auto;
    width: 338px;
    cursor: pointer;
    &::before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 1px;
        margin: 0 11px -3px 0;
    }
    &.kk_checked::before {
        background: url(https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps02/check.svg) no-repeat center center;
        background-size: 13px auto;
    }
}
a.-padding-tight[href*="merkzettel"] {
    font-size: 0;
    &::after {
        font-size: 1rem;
        content: "Zur Wunschliste";
    }
}
#wishlist_send_button {
    font-size: 0;
    height: 36.8px;
    line-height: 33px;
    &::after {
        font-size: 1rem;
        content: "Wunschliste versenden";
        letter-spacing: normal;
        margin-right: 21px;
    }
}
.meta-navigation .badge--hollow {
    background-color: #4d9209 !important;
}


@keyframes bounce-in-fwd {
    0% {
        transform: scale(1);
		-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
	}
	50% {
		transform: scale(1.3);
		-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
	}
	100% {
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
	}
}

@keyframes swipe-up {
    0% {
        height: 0;
        opacity: 0;
    }
    15% {
        height: 81px;
        opacity: 1;
    }
    90% {
        height: 81px;
        opacity: 1;
	}
	99% {
        height: 0;
        opacity: 0;
    }
    100% {
        display: none;
    }
}

// .page-cartPage:not([cz-shortcut-listen="true"]) {
//     &::after{
//         content: "Ihr Warenkorb wird aktualisiert";
//         font-size: 20px;
//     }
// }

//   @keyframes bounce-in-fwd {
//     0% {
//       -webkit-transform: scale(0);
//               transform: scale(0);
//       -webkit-animation-timing-function: ease-in;
//               animation-timing-function: ease-in;
//       opacity: 0;
//     }
//     38% {
//       -webkit-transform: scale(1);
//               transform: scale(1);
//       -webkit-animation-timing-function: ease-out;
//               animation-timing-function: ease-out;
//       opacity: 1;
//     }
//     55% {
//       -webkit-transform: scale(0.7);
//               transform: scale(0.7);
//       -webkit-animation-timing-function: ease-in;
//               animation-timing-function: ease-in;
//     }
//     72% {
//       -webkit-transform: scale(1);
//               transform: scale(1);
//       -webkit-animation-timing-function: ease-out;
//               animation-timing-function: ease-out;
//     }
//     81% {
//       -webkit-transform: scale(0.84);
//               transform: scale(0.84);
//       -webkit-animation-timing-function: ease-in;
//               animation-timing-function: ease-in;
//     }
//     89% {
//       -webkit-transform: scale(1);
//               transform: scale(1);
//       -webkit-animation-timing-function: ease-out;
//               animation-timing-function: ease-out;
//     }
//     95% {
//       -webkit-transform: scale(0.95);
//               transform: scale(0.95);
//       -webkit-animation-timing-function: ease-in;
//               animation-timing-function: ease-in;
//     }
//     100% {
//       -webkit-transform: scale(1);
//               transform: scale(1);
//       -webkit-animation-timing-function: ease-out;
//               animation-timing-function: ease-out;
//     }
//   }
  
