/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */
#infoTabs {
    visibility: hidden;
    margin-bottom: 0 !important;
}

.row > #kk-prod-desc-img {
    display: none;
}

#kk-prod-desc-img {
    width: auto !important;
}

#kk-prod-desc-img {
    width: 50%;
    margin: -140px 0 -95px;
    max-width: 500px;
}

#Produktbeschreibung img {
    width: auto !important;
    margin: 0 !important;
    max-width: auto !important;
}

#Produktbeschreibung img#kk-prod-desc-img {
    // margin: -165px 0 -95px !important;
    margin-top: -55px !important;
}

#kk-ab23-Material > h4:nth-child(3),
.kk-ab23-contentBox {
    margin-top: 70px;
}

#kk-ab23-Ausgezeichnete_Qualitaet {
    & > .row {
        flex-direction: column;

        & > .columns {
            margin-bottom: 15px;
            width: 100%;
            max-width: initial;
        }
    }
}