/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

#js-foundation-sticky-left-navigation-data-anchor {
    overflow: hidden;
}
.filterRow > .shrink {
    padding: 10px 10px 0 0;
}
.filterDivider {
    margin-bottom: 0 !important;
}
.large-3.sticky-container {
    margin-top: .76919rem;
}
.gridviewProductFilterDesktopWrapper {
    margin: 0 30px;
}
.js-filter-form {
    display: flex;
    flex-direction: column;

    > input + .filterRow {
        display: none;
        + .filterRow {
            background: transparent url("https://s3.eu-central-1.amazonaws.com/kk-ffm/hessnatur/2018/Sprint07/kat-bg2.jpg") no-repeat 0 0;
            background-size: 100% 40px;
            position: relative;
            order: 1;

            &::before {
                content: "";
                background: transparent url("https://s3.eu-central-1.amazonaws.com/kk-ffm/hessnatur/2018/Sprint07/kat-bg-left.png") no-repeat 0 0;
                background-size: 100% 100%; // 40px
                height: 100%;
                // width: 70px;
                width: 5.5rem;
                position: absolute;
                left: -30px;
                top: 0;
                z-index: 2000;
                border-left: solid 30px #fff;
            }
            &::after {
                content: "";
                background: transparent url("https://s3.eu-central-1.amazonaws.com/kk-ffm/hessnatur/2018/Sprint07/kat-bg-right.png") no-repeat 0 0;
                background-size: 100% 100%;
                height: 100%;
                // width: 70px;
                width: 5.5rem;
                position: absolute;
                // right: 30px;
                right: 2rem;
                top: 0;
                z-index: 2000;
                border-right: solid 30px #fff;
            }

            > .column {
                margin: 40px 2.9% 0;
                padding: 28px;
                background-color: #fff;
                // max-width: 88%;
                flex: 0 0 90%;
                max-width: 90%;
                // min-height: 277px;
                min-height: 160px;
                position: relative;
                // overflow: hidden;
            }
            + .filterRow {
                order: 2;
            }
        }
    }
    h2 {
        text-transform: uppercase;
        font-size: 21px;
        font-family: "Roboto" ,Helvetica,Arial,sans-serif;
        margin-bottom: 10px;
    }
    .buttonTab {
        border-radius: 3px;
    }
}
.filterVariations {
    margin: 0;
    // position: relative;
    width: 2500px;
    height: 52px;
    margin: -2px 0 0 !important; // 46px
    transition: left .5s ease-in-out;
    position: absolute;
    left: 0;

    // &::before {
    //     content: "Nutzen Sie die Filter, um schnell einen passenden Artikel zu finden:";
    //     display: block;
    //     // margin-left: 29px;
    //     font-size: 12px;
    //     height: 20px;
    //     position: absolute;
    //     top: -25px;
    // }
    > li {
        padding: 0 10px 0 0;
        -ms-flex: 0 0 158px !important;
        flex: 0 0 158px !important;
    }
    // &.kk_flowright {
    //     flex-direction: row;
    //     justify-content: right;
    // }
}



.kk_info {
    font-size: 12px;
    height: 20px;
    display: block;
}

#toggle_filter_FFmaterial {
    position: relative;
    display: block;
    top: 0 !important;
    margin: 0;
    height: 69px;
    padding: 0;
    border: none;
    visibility: visible;
    z-index: 199;

    &::before {
        content: "Sind Ihnen bestimmte Materialien wichtig? (Mehrfachauswahl möglich)";
        display: block;
        // margin-left: 29px;
        font-size: 12px;
        height: 20px;
        position: absolute;
        top: -25px;
    }
    > ul {
        margin: 0;
        width: 3000px;
        max-width: 3000px;
        position: absolute;
        top: 0;
        left: 0;
        transition: left .5s ease-in-out;

        > li {
            position: relative;
            margin: 0 20px 0 0;
            -ms-flex: 0 0 138px;
            flex: 0 0 138px;
            padding: 0;
            height: 57px;
            border-radius: 2px;
            background-color: #f7f6f5;
            border: 1px solid #e5e4e3;
            overflow: visible;
            border-radius: 5px;

            &:last-child {
                margin: 0;
            }
        }
    }
    > .colunm {
        display: none;
    }
    .productFilterInput {
        display: none;
        border-radius: 3px;
        &:checked + label {
            background-color: #daeec6;
        }
    }
    .productFilterLabel {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 2;
        text-align: center;
        padding-top: 31px;
        font-size: 12px;
        span {
            color: #393939;
        }
    }
}

.kk_filter {
    height: 104px;
    position: relative;
}
.kk_filterweiter,
.kk_filterzurueck {
    background: transparent url("https://s3.eu-central-1.amazonaws.com/kk-ffm/hessnatur/2018/Sprint07/filterweiter.png") no-repeat right 0;
    height: 57px;
    width: 184px;
    position: absolute;
    z-index: 1000;
    // right: 28px;
    right: 0;
    top: 76px;
    cursor: pointer;
    border-right: solid 30px #fff;
}
.kk_filter + .kk_filterweiter,
.kk_filter + .kk_filterweiter + .kk_filterzurueck {
    top: 183px;
    z-index: 200;
}

.kk_filterzurueck {
    right: auto;
    left: 0;
    transform: rotate(180deg);
    display: none;
}

// TODO optimieren
// .gridviewProductFilterDesktopWrapper .filterVariations .column:nth-of-type(5n+4) .dropdown-pane,
// .gridviewProductFilterDesktopWrapper .filterVariations .column:nth-of-type(5n+5) .dropdown-pane,
// .gridviewProductFilterDesktopWrapper .filterVariations .column:nth-of-type(5n+6) .dropdown-pane,
// .gridviewProductFilterDesktopWrapper .filterVariations .column:nth-last-child(2) .dropdown-pane,
// .gridviewProductFilterDesktopWrapper .filterVariations .column:nth-last-child(3) .dropdown-pane,
// .gridviewProductFilterDesktopWrapper .filterVariations .column:last-child .dropdown-pane {
//     right: .76923rem !important;
// }
.filterVariations .column {
    & > .dropdown-pane {
        right: .76923rem !important;
    }
    &:first-child > .dropdown-pane,
    &:nth-child(2) > .dropdown-pane,
    &:nth-child(3) > .dropdown-pane,
    &:nth-child(4) > .dropdown-pane {
        right: auto !important
    }
}


// 3 + ( n - 1 ) * 1



.productFilterLabel {
    cursor: pointer;
    background: transparent no-repeat center 4px;
    background-size: auto 30px;

    &[for="desktop__filter_FFmaterial_Baumwolle"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_baumwolle.svg);
    }
    &[for="desktop__filter_FFmaterial_Schurwolle"],
    &[for="desktop__filter_FFmaterial_Schaffell"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_schurwolle.svg);
    }
    &[for="desktop__filter_FFmaterial_Hanf"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_hanf.svg);
    }
    &[for="desktop__filter_FFmaterial_Yakwolle"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_yakwolle.svg);
    }
    &[for="desktop__filter_FFmaterial_Kaschmir"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_kaschmir.svg);
    }
    &[for="desktop__filter_FFmaterial_Rindleder"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_leder.svg);
    }
    &[for="desktop__filter_FFmaterial_Viskose"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_neutral.svg);
        background-size: auto 26px;
    }
    &[for="desktop__filter_FFmaterial_Alpaka"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_alpaka.svg);
        background-size: auto 26px;
    }
    &[for="desktop__filter_FFmaterial_Gummi"],
    &[for="desktop__filter_FFmaterial_Kautschuk"],
    &[for="desktop__filter_FFmaterial_Naturkautschuk"],
    &[for="desktop__filter_FFmaterial_Naturlatex"]  {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_kautschuk.svg);
        background-size: auto 26px;
    }
    &[for="desktop__filter_FFmaterial_Modal"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_modal.svg);
        background-size: auto 26px;
    }
    &[for="desktop__filter_FFmaterial_Seide"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_seide.svg);
        background-size: auto 26px;
    }
    &[for="desktop__filter_FFmaterial_Leinen"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_leinen.svg);
        background-size: auto 26px;
    }
    &[for="desktop__filter_FFmaterial_Mohair"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_mohair.svg);
        background-size: auto 26px;
    }
    &[for="desktop__filter_FFmaterial_Daunen"],
    &[for="desktop__filter_FFmaterial_Federn"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_daunen.svg);
        background-size: auto 26px;
    }
    &[for="desktop__filter_FFmaterial_Kokosnuß"] {
        background-image: url(https://imgs7.hessnatur.com/is/content/HessNatur/Materialicons/Materialicon_kokosnuss.svg);
        background-size: auto 26px;
    }
    
}

.kk_arrowbox {
    background: #fff;
    border: 1px solid #959493;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    bottom: -42px;
    left: -1px;
    width: 138px;
    display: none;
    z-index: 100;

    button {
        background-color: #393939;
        color: #fff;
        text-align: center;
        width: 100%;
        line-height: 32px;
        text-transform: uppercase;
        font-size: 12px;
        cursor: pointer;

        &:hover {
            background-color: #303030;
        }
    }
}
.kk_arrowbox:after, 
.kk_arrowbox:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.kk_arrowbox:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 7px;
	margin-left: -7px;
}
.kk_arrowbox:before {
	border-color: rgba(149, 148, 147, 0);
	border-bottom-color: #959493;
	border-width: 8px;
	margin-left: -8px;
}


.kk_inforow {
    margin-top: 20px;
    margin-right: 30px !important;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    order: 4;
    display: flex;
    justify-content: space-between;

    > span {
        margin-right: 8rem;
        input {
            margin: 10px -3px 0 0;
        }
        label {
            line-height: 40px !important;
        }
    }
}

#desktop__sort {
    min-width: 200px;
}

.breadcrumb-productList .js-filter-form {
    display: none;
}

.kk_noMaterials {
    > .filterRow {
        // height: 200px;
        &::before,
        &::after {
            background-size: auto auto;
        }
        > .column:not(.shrink) {
            // min-height: 160px !important;
            height: 160px;
        }
    }
}


.kk_vegan {
    visibility: hidden;
    input {
        cursor: pointer;
    }
}

.kk_msg {
    // background-color: #daeec6;
    margin: 10px 0 0 0;
    margin-right: 30px !important;
    order: 3;
}
.kk_msgRow {
    background: #daeec6 url("https://s3.eu-central-1.amazonaws.com/kk-ffm/hessnatur/2018/Sprint07/check.png") no-repeat 15px center;
    height: 42px;
    line-height: 42px;
    color: #679935;
    padding: 1px 20px 0 48px;
    margin-bottom: 3px;
    width: 100%;
}


@media screen and (max-width: 1550px) {
    .js-filter-form > input + .filterRow + .filterRow > .column {
        flex: 0 0 89%;
        max-width: 89%;
    }
    .kk_filter[data-step=start] .column {
        &:nth-child(4) > .dropdown-pane,
        &:nth-child(5) > .dropdown-pane {
            right: .76923rem !important;
        }
    }
    .kk_filter[data-step=end] .column {
        &:nth-last-child(5) > .dropdown-pane,
        &:nth-last-child(6) > .dropdown-pane {
            right: auto !important;
        }
    }
    
}
@media screen and (max-width: 1350px) {
    .js-filter-form > input + .filterRow + .filterRow > .column {
        flex: 0 0 88%;
        max-width: 88%;
    }
}
@media screen and (max-width: 1050px) {
    .js-filter-form > input + .filterRow + .filterRow > .column {
        flex: 0 0 87%;
        max-width: 87%;
    }
}
