/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */


#kk_free_return {
    display: flex;
    background-color: #E1DCD6;

    .kk_main_text {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 36px;
        display: flex;
        flex: 1;
        align-items: center;
        letter-spacing: 0.05px;
        text-transform: uppercase;
        color: #393939;
    }

    .kk_main_text::before {
        background-image: url(https://www.hessnatur.com/_ui/responsive/common/images/icons/retoure.svg);
        margin-right: 2.23077rem;
        height: 2rem;
        width: 1.61538rem;
        display: inline-block;
        background-repeat: no-repeat;
        content: "";
        background-position: 50%;
        background-size: contain;
        vertical-align: middle;
    }

    .kk_sub_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        display: flex;
        flex: 1;
        align-items: center;

        color: #393939;

        span {
            white-space: nowrap;
        }
    }

}

.kk_free_return_wrapper {
    flex-grow: 1;
}

#kk_free_return.kk_pdp {
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    padding: 14px 22px;

    .kk_main_text {
        font-size: 16px;
    }
    .kk_main_text::before {
        height: 21px;
        margin-right: 9px;
    }

    .kk_sub_text {
        font-size: 11px;
        line-height: 17px;
    }
}

#kk_free_return.kk_pdp:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #E1DCD6 transparent;
    top: -20px;
    left: calc(50% - 10px);
}
.kk_sub_text {
    flex-direction: column;
    img {
        margin: 0 0 2px 3px;
        cursor: pointer;
        width: 19px;
        height: 18px;
    }
}
.kk_asterisk {
    overflow: hidden;
    max-height: 150px;
    font-size: 12px;
    transition: 1s all;
    line-height: 18px;
    width: 100%;
    text-align: left;

    &.kk_hidden {
        max-height: 0;
    }
}


@media only screen and (min-width: 1921px) {
    .kk_free_return_outer_wrapper {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (max-width: 1096px) and (min-width: 1025px) {

    #kk_free_return.kk_pdp .kk_main_text {
        font-size: 14px;
    }

    #kk_free_return.kk_pdp .kk_main_text::before {
        height: 15px;
        margin-right: 4px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 640px) {
    #kk_free_return.kk_pdp {
        display: none !important;
    }
}

@media only screen and (min-width: 639px) {

    #kk_free_return.kk_cart.mobile,
    #kk_free_return.kk_confirmation.mobile {
        display: none !important;
    }

    /* für Warenkorb und Confirmation auch die Wrapper verstecken */
    .kk_free_return_wrapper.mobile {
        display: none;
    }


    .kk_free_return_outer_wrapper {
        padding-top: 3.5rem !important;
        padding-bottom: 3.5rem !important;
        background-color: #e1dcd6;
        margin: 3rem 0rem;

        .kk_free_return_wrapper {
            padding-top: 0 !important;
            padding-bottom: 0 !important;

            .kk_main_text {
                margin-right: 1rem;
            }
            .kk_sub_text {
                margin-left: 1rem;
            }
        }
    }

    #kk_free_return.kk_pdp {
        order: 3;
    }

    #kk_free_return.kk_cart {
        flex-direction: column;
        padding: 18px 46px 15px;
        margin-top: 0px;
        max-width: 500px;
    
        .kk_main_text {
            font-size: 21px;
            line-height: 26px;
        }
    
        .kk_main_text::before {
            margin-right: 10px;
            height: 21px;
        }
    
        .kk_sub_text {
            font-size: 12px;
            line-height: 17px;
            margin-top: 4px;
        }
    
    }

    .kk_free_return_sibling {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #kk_free_return.kk_confirmation {
        flex-direction: column;
        padding: 18px 46px 15px;
        margin-top: 0;
    
        .kk_main_text {
            font-size: 21px;
            line-height: 26px;
        }
    
        .kk_main_text::before {
            margin-right: 10px;
            height: 21px;
        }
    
        .kk_sub_text {
            font-size: 12px;
            line-height: 17px;
            margin-top: 4px;
        }
    }
}


// @media only screen and (max-width: 1023px) and (min-width: 640px) {

//     #kk_free_return.kk_pdp .kk_main_text {
//         padding-right: 0.76923rem;
//         padding-left: 0.76923rem;
//     }
// }

@media only screen and (max-width: 639px) {

    #kk_free_return {
        flex-direction: column;
        padding: 21px 24px;


        .kk_main_text {
            font-size: 21px;
        }
    
        .kk_main_text::before {
            margin-right: 10px;
            height: 21px;
        }
    
        .kk_sub_text {
            font-size: 13px;
            line-height: 17px;
            margin-top: 8px;
        }
    }

    
    .kk_free_return_wrapper.--cell-padding {
        padding: 0;
        margin: 2.3rem 0;
    }

    /*#kk_free_return.kk_cart:not(.mobile),*/
    #kk_free_return.kk_confirmation:not(.mobile) {
        display: none;
    }

    .kk_free_return_wrapper_desktop {
        display: none;
    }

    .kk_free_return_wrapper {
        order: 1;
        margin-bottom: 1rem;
        position: relative;
    }

    // #kk_free_return.kk_pdp {
    //     // order: 3;
    // }

    #kk_free_return.kk_cart.mobile {
        margin-top: 0px;
        // position: relative;
    }

    #kk_free_return.kk_confirmation.mobile {
        margin-top: 1rem;
    }

    #kk_free_return.kk_cart.mobile::before,
    #kk_free_return.kk_confirmation.mobile::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #E1DCD6 transparent;
        // top: -20px;
        // left: calc(50vw - 10px);
        left: calc(50% - 10px);
    }
    #kk_free_return.kk_cart.mobile::before {
        top: -20px;
    }
    #kk_free_return.kk_confirmation.mobile::before {
        top: calc(1rem - 20px);
    }
}