/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */



#avail_container {
    position: relative;
    min-height: 42px;

    .js-availability-status.warning,
    .wa_lieferbarkeit,
    > br {
        display: none !important;
    }
    .warning + .wa_lieferbarkeit {
        display: inline !important;
        text-transform: capitalize;
        color: #eea800;
        line-height: 41px;
        font-weight: bold;
        font-size: 13px;
    }
    .alert {
        line-height: 41px;
    }
}

body:not(.wa_punchout) #avail_container{

    .js-availability-info {
        display: none !important;
    }
    .js-availability-delivery {
        font-size: 13px;
    }

    .success {
        display: block;
        min-height: 41px;
        position: absolute;
        background-color: #e8f8d7;
        padding: 0 15px;
        line-height: 41px;
        min-width: 192px;
    

        &::before{
            content: "Lieferzeit: sofort lieferbar";
            position: absolute;
            // background-color: #e8f8d7;
            white-space: nowrap;
            padding-right: 30px;
            background: #e8f8d7 url("@{base-url}checks.png") no-repeat scroll right 16px;
        }
        &::after {
            content: "Das Produkt ist innerhalb 24 h versandfertig.";
            width: auto;
            height: 30px;
            display: block;
            position: absolute;
            white-space: nowrap;
            color: #393939;
            left: 0;
            bottom: -26px;
            font-weight: normal;
        }
    }

} 


.wa_oeffnenwarum {
    text-transform: none;
    position: absolute;
    font-size: 0.8rem;
    font-weight: normal;
    left: 0;
    top: 30px;
    color: #555859;
    text-decoration: underline;
    cursor: pointer;
}
.wa_warum {
    // display: none;
    border: solid 1px #d9d9d8;
    color: #555859;
    padding: 19px 18px;
    margin-bottom: 20px;
    position: relative;
    margin-top: 11px;

    h3 {
        font-family: Roboto,Helvetica,Arial,sans-serif;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
    p {
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
    ul {
        margin: 0 0 11px;
    }
    li{
        font-weight: 700;
        line-height: 18px;
        list-style: none;
        padding: 0 0 8px 31px;
        background: transparent url("@{base-url}checks.png") no-repeat scroll  0 -98px;
    }
    &::after { // kleiner oberer Pfeil
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border-top: solid 1px #d9d9d8;
        border-left: solid 1px #d9d9d8;
        background-color: #fff;
        transform: rotate(45deg);
        position: absolute;
        top: -9px;
        left: 62%;
    }
    .wa_close {
        cursor: pointer;
        width: 15px;
        height: 15px;
        position: absolute;
        right: 15px;
        top: 15px;
        background: transparent url("@{base-url}close.png") no-repeat scroll  0 0;
    }
    img {
        margin-top: -3px;
    }
}
.wa_klappbar {
    height: 26.5rem;
    overflow: hidden;
    -webkit-transition:ease-in-out 1s;
    transition: ease-in-out 1s;
}
.wa_einkl {
    height: 0 !important;
}
.align-middle.h-largeOffset-bottom-outer {
    margin-bottom: 32px;
}
.pds-cockpit__addProductWrapper {
    margin-top: 10px;
}
.wa_klapp {
    background-color: #f7f6f5;
    padding: 15px 18px;
    position: relative;
    color: #555859;
    margin-bottom: 20px;

    h3 {
        font-family: Roboto,Helvetica,Arial,sans-serif;
        margin-bottom: 15px;
        font-size: 1rem;

        &::before {
            content: "";
            background: #fff url("@{base-url}checks.png") no-repeat scroll  2px -36px;
            width: 18px;
            height: 18px;
            display: block;
            border: solid 1px #d9d9d8;
            float: left;
            margin-right: 8px;
            margin-top: -2px;
            border-radius: .23077rem;
        }
    }

    p {
        overflow: hidden;
        -webkit-transition:ease-in-out 0.6s;
        transition: ease-in-out 0.6s;
    }

    div:not(.wa_flex) {
        border-radius: .23077rem;
        background-color: #fff;
        margin-bottom: 5px;
        border: solid 1px #d9d9d8;
        padding: 10px 20px 10px 59px;
        background: #fff no-repeat scroll 19px 9px;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 11px;
            height: 11px;
            border-top: solid 2px #555859;
            border-left: solid 2px #555859;
            background-color: #fff;
            transform: rotate(45deg);
            position: absolute;
            top: 16px;
            right: 13px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }
        &.wa_einklappen{
            p {
                height: 0 !important;
            }
            &::after {
                transform: rotate(225deg);
                top: 11px;
            }
        }
    }
    .wa_klima {
        background-image: url("@{base-url}dhl-icon.png") !important;
        background-position: 11px 9px !important;
    }
    .wa_resyc {
        background-image: url("@{base-url}recycling-icon.png") !important;
    }
    .wa_retoure {
        background-image: url("@{base-url}reverse-icon.png") !important;
    }
}

.wa_layer {
    overflow: hidden;
    margin-bottom: 40px;

    div {
        float: left;
        width: 36%;
        text-align: center;
        padding-top: 50px;
        background: transparent url("@{base-url}flagge.png") no-repeat scroll  center 5px;
    }
    ul {
        float: left;
        width: 64%;
        margin: 0;
    }
    li{
        font-weight: 700;
        line-height: 18px;
        list-style: none;
        padding: 0 0 13px 31px;
        background: transparent url("@{base-url}checks.png") no-repeat scroll  0 -98px;
    }
}
.wa_layer + .wa_layer {
    display: none;
}
.reveal-overlay .pricing-list {
    margin-left: 0;
}


/* WK */

body:not(.wa_punchout) .h-smallOffset-bottom-outer {
    .success {
        display: block;
        min-height: 41px;
        position: absolute;
        background-color: #e8f8d7;
        padding: 0 15px;
        line-height: 41px;
        min-width: 192px;

        &::before{
            content: "Lieferzeit: sofort lieferbar";
            position: absolute;
            background-color: #e8f8d7;
            white-space: nowrap;
        }
        &::after {
            content: "";
            background: transparent url("@{base-url}checks.png") no-repeat scroll  0 16px;
            width: 15px;
            height: 30px;
            display: block;
            float: right;
        }
    }
}
.wa_waHinweis {
    background-color: #e8f8d7;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: #60b60b;
    border: solid 1px #d1edb3;
    margin-left: 2.30769rem;

    &::before {
        content: "";
        background: transparent url("@{base-url}infoi.png") no-repeat scroll  0 0;
        width: 18px;
        height: 18px;
        display: block;
        float: left;
        margin-right: 8px;
        margin-top: -2px;
    }
}
.wa_klappwk {
    width: 113%;
    margin-bottom: -10px;

    .wa_flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .wa_klima {
            background-position: 11px 15px !important;
        }
        .wa_resyc,
        .wa_retoure {
            background-position: 19px 15px;
        }
        > div {
            cursor: default;
            flex: 0 0 32.8%;
            padding: 12px 12px 12px 56px;
    
            b {
                font-size: 0.9rem;
                margin-bottom: 5px;
                display: block;
            }
            p {
                font-size: 0.9rem;
                height: auto;
            }
            &::after {
                display: none;
            }
        }
        
    }
}

@media screen and (min-width: 64em) {
    .wa_klappwk {
        width: 110%;
    }
}

// .logoContainer {
//     border: solid 3px red;
// }

@media screen and (min-width: 1600px) {
    .wa_klappbar {
        height: 23.5rem;
    }
}
@media screen and (max-width: 1120px) {
    .wa_klappbar {
        height: 28.5rem;
    }
}
@media screen and (max-width: 1100px) {
    .wa_klappbar {
        height: 31.5rem;
    }
}

.wa_punchout {
    .wa_klappbar,
    .wa_klapp,
    #avail_container .wa_lieferbarkeit,
    .wa_waHinweis {
        display: none !important;
    }

    // #avail_container .js-availability-info,
    #avail_container .warning, 
    #avail_container > br {
        display: block !important;
    }
}