/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */



#miniCartDropdown.wa_nichtanzeigen {
    display: none !important;
}

.wa_overlay {
    .reveal {
        width: 958px;
        max-width: 958px;
    }
}
.wa_content {
    .small-3 {
        background-color: #f5ffeb;
    }
    .small-9 {
        background-color: #f9f8f5;

        > a {
            
        }
    }
}
.wa_footer {
    border-top: solid 1px #cdcdcd;
}




// @media screen and (min-width: 1600px) {
//     .wa_klappbar {
//         height: 23.5rem;
//     }
// }


/*@import url("https://dev.web-arts.de/hessnatur/2018/Sprint1-BedenkenlosEinkaufen/sriation-01/style.css");*/