/* IMPORT VAR LESS FILE */
@import "vars.less";

// DEFINE GLOBAL CSS
// Beispiel für die Verwendung der Variable base-url
// background: url('@{base-url}sprite.png') no-repeat 0 0;

.kk07B {
    .js-product-info {
        padding-top: 50px;
        margin-top: -50px;
    }

    #kk07_ecological {
        opacity: 0;
        background: url('@{s3}bg.png') center center/cover no-repeat;
        padding: 5rem calc(~"8.33333% + 2.30769rem") 6.92308rem;
        margin: 5rem 0;

        .kk07_icon {
            height: 40px;
            margin: 0 auto 10px;

            &.water {
                background-size: 45px 30px;
            }

            &.co2 {
                background-size: 54px 35px;
            }

            &.earth {
                background-size: 23px 40px;
            }
        }

        .h3 {
            font-size: 2.462rem;
            line-height: 3.1rem;
            text-transform: uppercase;
            color: #363939;
            margin-bottom: 4rem;
            font-weight: 400;
        }
    }

    .kk07_eco__point {
        padding: 2rem 1rem;

        >strong {
            text-transform: uppercase;
            font-size: 1.385rem;
            margin: 4rem 0 1.3rem;
            font-family: Roboto Condensed Bold;

            br {
                display: none;
            }
        }

        >span {
            font-size: 1rem;
            line-height: 1.7rem;
            display: block;
        }

    }

    .pds__imageAndCockpitWrapper {
        padding-bottom: 4rem;
    }

    .kk07_eco__footer {
        display: none;
    }

}