/* IMPORT VAR LESS FILE */
// @import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

#js-payback-form-container #paybackCardForm {
    margin-right: 20px;
}


.kk_bottom_checkout_wrapper {
    margin-bottom: 50px;
}

.kk_sums {
    padding-right: 0px !important;
}

.kk_payment_info_container {
    margin-bottom: 37px;
}

.kk_pb_column {
    padding: 0 0 17px 0;
    margin: 0 0 17px 0;
    background-color: #E5E4E3;
}

.payback__form__info {
    margin-left: 0px;
}

.kk_pb_column > .payback__form__container {
    margin-left: 10px;
}

#js-payback-form-container {
    margin-left: 46px;

    > .payback__form__container {
        margin-bottom: 0px;
    }
}