/* IMPORT VAR LESS FILE */
@import "vars.less";

// DEFINE GLOBAL CSS
// Beispiel für die Verwendung der Variable base-url
// background: url('@{base-url}sprite.png') no-repeat 0 0;


.kk_s10nav {
    .is-open + div + .off-canvas-content {
        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 20px;
            width: 20px;
            background: transparent url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB10/close.svg") no-repeat center center;
            top: 19px;
            left: 5%;
            z-index: 1001;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.65);
            top: 0;
            left: 0;
            z-index: 1000;
        }
    }
    #offCanvasLeft {
        background-color: #fff;
        width: 85%;
        transform: translateX(-100%);
    
        > .h-smallOffset-bottom-inner {
            display: none;
        }
        > .row:last-child > .column {
            padding: 0;
        }
    
        &.is-open {
            -webkit-transform: translate(0);
            transform: translate(0);
        }
        > .row > .column > ul.vertical.menu {
            display: flex;
            margin-bottom: 15px;
            margin-top: -16px;
            > li {
                display: block;
                width: 50%;
                flex: 0 0 50%;
                padding: 8px 13px 8px 49px;
                background-position: 20px center;
                background-size: auto 18px;
                background-color: transparent;
                background-repeat: no-repeat;
                &:first-child {
                    order: 2;
                    background-image:  url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB10/newsletter.svg");
                }
                &:nth-child(2) {
                    order: 4;
                    background-image: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB10/magazin.svg");
                    background-position: 23px center;
                }
                &:nth-child(3) {
                    order: 3;
                    background-image: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB10/ueberuns.svg");
                }
                &:nth-child(4) {
                    order: 5;
                    background-image: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB10/store.svg");
                    background-position: 23px center;
                }
                &:last-child {
                    order: 1;
                    background-color: #F1EDED;
                    width: 100%;
                    flex: 0 0 100%;
                    height: 86px;
                    margin-bottom: 15px;
                    padding: 44px 0 12px;
                    position: relative;
    
                    &::before {
                        content: "Mein Hessnatur";
                        font-weight: 400;
                        font-size: 14.3px;
                        color: #393939;
                        text-align: center;
                        position: absolute;
                        top: 0px;
                        text-transform: uppercase;
                        width: 100%;
                    }
                    &::after {
                        content: "Bestellungen ansehen und Daten verwalten";
                        font-size: 11px;
                        color: #393939;
                        text-align: center;
                        font-weight: 100;
                        position: absolute;
                        top: 17px;
                        width: 100%;
                        height: 27px;
                    }
    
                    .h-text-decoration-none-hover {
                        background: #383838 url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB10/person.svg") no-repeat 20px center;
                        border-radius: 2px;
                        color: #383838;
                        letter-spacing: 0.61px;
                        text-align: center;
                        height: 32px;
                        padding: 0;
                        line-height: 32px;
                        display: flex;
                        justify-content: center;
                        margin: 0 38px;
                        &::before {
                            content: "Anmelden";
                            font-weight: bold;
                            color: #fff;
                            font-size: 13px;
                            text-transform: uppercase;
                            position: absolute;
                            display: block;
                            z-index: 10;
                        }
                    }
                }
            }
        }
    }
    .position-left.is-open ~ .off-canvas-content {
        -webkit-transform: translateX(85%);
        transform: translateX(85%);
    }
    
    #offCanvasSearchWrapper {
        margin: 16px 17px 26px;
    }
    
    .is-drilldown-submenu-parent:first-child {
        margin-top: 37px;
        &::before {
            content: "Navigation";
            text-transform: uppercase;
            display: block;
            position: absolute;
            z-index: 1;
            top: -5px;
            font-size: 15px;
            left: 14px;
        }
    }
    
    #offCanvasNavPrgRedirectionForm {
        margin: 0 4px;
        // &::before {
        //     content: "Navigation";
        //     text-transform: uppercase;
        //     margin: 0 16px 14px;
        //     display: block;
        // }
        li {
            background-color: #F8F8F8;
            background-position: 20px center;
            background-repeat: no-repeat;
            background-size: 55px auto;
            height: 68px;
            padding-left: 86px;
            margin-bottom: 5px;
            a,
            .navNodeWrapper {
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 15px;
                line-height: 17px;
                padding-right: 24px;
                font-weight: 400;
                span {
                    font-weight: 400;
                }
            }
            .is-drilldown-submenu-back-item,
            .js-drilldown-back {
                background-color:  #fff;
                padding-left: 13px;
                height: 32px;
                & > a {
                    font-weight: 400;
                    text-decoration: none;
                    &::before {
                        background: #fff url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB10/arrow_left.svg") no-repeat center center;
                        margin-right: 16px;
                        width: 13px;
                        height: 15px;
                    }
                }
            }
            &.h-text-bold.h-text-uppercase {
                // display: none;
                background-color:  #fff;
                padding-left: 7px;
                font-weight: 700;
                text-decoration: none;
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 15px;
                // &::before {
                //     content: "";
                //     display: inline-block;
                //     background: #fff url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB10/arrow_left.svg") no-repeat center center;
                //     margin-right: 16px;
                //     width: 13px;
                //     height: 15px;
                //     margin-top: -.30769rem;
                // }
            }
        }
        .submenu .submenu .submenu > li.is-submenu-item {
            padding-left: 7px;
        }
        .submenu .submenu .submenu .submenu > li.is-submenu-item {
            padding-left: 7px;
        }
    }
    
    
    
    .off-canvas .is-drilldown-submenu.is-active {
        background-color: #fff;
    }
    #offCanvasNavPrgRedirectionForm li .navNodeWrapper::after {
        background: transparent url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB10/arrow_right.svg") no-repeat center center;
        content: "";
        width: 7px;
        height: 15px;
        position: absolute;
        right: 15px;
        margin-top: -2px;
    }
    .is-drilldown-submenu-parent > a.-drilldown-arrow-costum::after {
        background: transparent url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/AB10/arrow_right.svg") no-repeat center center;
        width: 7px;
        height: 15px;
        border: 0;
        margin-top: -8px;
        right: 15px;
    }
    .is-drilldown-submenu {
        transition: -webkit-transform .5s linear;
        transition: transform .5s linear;
        transition: transform .5s linear,-webkit-transform .5s linear;
    }
}

