/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */


#addedtocartrecommendationpopup {
    width: 565px;
    min-width: 565px;

    .ds_recomlayer-left-col {
        flex: 0 0 40%;
        max-width: 40%;
        min-height: 40px;
        background-color: #f5ffeb;
        > div,
        > p {
            display: none;
        }
        &:after {
            display: none;
        }
        img {
            margin: 0;
        }
    }
    .ds_recomlayer-right-col {
        background-color: #f5ffeb;
        flex: 0 0 60%;
        max-width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
        padding: 0 2rem;

        > div {
            display: none;
        }
        &::before {
            background: url("https://www.hessnatur.com/_ui/responsive/common/images/icons/layer_confirm.png") no-repeat 0 0;
            content: "Good choice!";
            font-size: 2.23077rem;
            // font-family: Archer A,Archer B,Archer,serif;
            font-style: normal;
            font-weight: 700;
            color: inherit;
            text-rendering: optimizeLegibility;
            text-align: center;
            padding: 0 30px 19px;
        }
        &::after {
            text-align: center;
            content: "The article was added to your shopping cart.";
            font-size: 1rem;
        }
    }

    .ds_content {
        min-width: 100px;
        min-height: 40px;
    }

    .ds_footer {
        .small-3 {
            flex: 0 0 45%;
            max-width: 45%;
        }
        .small-6 {
            flex: 0 0 10%;
            max-width: 10%;
        }
    }
    .pds-cockpit__addToCartButton span {
        font-size: 0;
        &::after {
            font-size: 1rem;
            content: "Continue shopping";
        }
    }
    .button.success span {
        font-size: 0;
        &::after {
            font-size: 1rem;
            content: "View shopping cart";
        }
    }
}