/* IMPORT VAR LESS FILE */
@import "vars.less";

// DEFINE GLOBAL CSS
// Beispiel für die Verwendung der Variable base-url
// background: url('@{base-url}sprite.png') no-repeat 0 0;

.kk_goodchoice {
    background: #F5FFEB url(https://media.hessnatur.com/kk/2021/ps01-mobile/check.svg) no-repeat 11px center;
    background-size: auto 13px;
    font-size: 14px;
    color: #393939;
    padding: 17px 10px 16px 35px;
    margin: 5px 0 2px;
    b {
        font-family: "Roboto Condensed Bold",Helvetica,Arial,Archer A,sans-serif;
        font-style: normal;
    }
}
.kk_basket_ctl {
    display: flex;
    flex-direction: row;
    .item__image {
        width: 32%;
        padding-bottom: 10px;
        position: relative !important;
        left: auto !important;
        img {
            max-height: 89px;
            margin: 5px auto 0;
            display: block;
        }
        &:nth-child(2) {
            margin: 0 3%;
        }
        .desc-name {
            margin-bottom: 0;
            font-size: 10px;
            line-height: 1rem;
            letter-spacing: 0;
            display: block;
        }
        .desc-price {
            margin-top: 0;
            .price {
                font-size: 10px;
                line-height: 1rem;
                font-weight: bold;
                letter-spacing: 0;
            }
        }
        &:nth-child(4),
        &:nth-child(5) {
            display: none !important;
        }
    }
}