/* IMPORT VAR LESS FILE */
// @import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

// .kk-hidden {
//     display: none;
// }

.kk_ab38_scope {
    .productBadges img[src*="vegan"] {
        display: none;
    }
    
    .productBadgesWrapper .productBadges {
        padding: 0;
        margin: 0 .38462rem;
    }

    .kk_vegan {
        display: none;
    }
}