/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
// @import "../global/global.less";

/* DEFINE VARIATION CSS */


.footerWrapper {
    .js-reveal-ajax {
        &::before {
            background-image: url("https://s3.eu-central-1.amazonaws.com/kk-ffm/hessnatur/2019/Sprint01/lkw.svg");
            background-size: 100% auto;
            width: 36px;
            height: 20px;
            margin: -1px 11px 0 0;
        }
    }
}
.reveal-overlay {
    ul {
        margin-left: 0;
    }
}

#checkoutSummaryForm1 .row.text-right {
    padding-bottom: .76919rem;
}
