/* IMPORT VAR LESS FILE */
// @import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
// @import "../global/global.less";

/* DEFINE VARIATION CSS */


.kk_template_modal {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: fixed;
    #availability-matrix {
        padding: 0;
        border-radius: 0;
        top: auto !important;
        min-height: 350px;
        > .row {
            min-height: 350px;
        }
    }
    .kk_left {
        background-position: center top;
        background-size: cover;
        -webkit-box-flex: 0;
        flex: 0 0 42.5%;
        max-width: 42.5%;
        overflow: hidden;
    }
    .column.kk_right {
        padding: 59px 27px 38px;
        flex: 0 0 57.5%;
        max-width: 57.5%;
        overflow: hidden;
        p {
            text-transform: uppercase;
            padding-bottom: 14px;
            font-size: 12px;
            color: #373939;
            letter-spacing: 0.11px;
            text-align: center;
        }
        h4 {
            margin-bottom: 12px;
            font-family: "Roboto Condensed Bold";
            font-weight: 400;
            font-size: 31px;
            color: #373939;
            letter-spacing: 0.1px;
            text-align: center;
            + p {
                padding-bottom: 29px;
            }
        }
        .input-group-field {
            background: #FFFFFF;
            border: 1px solid #E5E4E3;
            border-radius: 2px;
            font-size: 12px;
            letter-spacing: 0.2px;
            line-height: 17px;
            margin-bottom: 10px;
        }
        .newsletterRegistrationBtn {
            width: 100%;
            background: #393939;
            border-radius: 2px;
            font-family: "Roboto Condensed Bold";
            font-weight: 400;
            font-size: 15px;
            color: #FFFFFF;
            letter-spacing: 0.35px;
            text-align: center;
            position: relative;
            height: 40px;
            line-height: 1rem;
            text-decoration: none;
        }
        #newsletterRegistrationForm {
            margin-bottom: 17px;
            flex-direction: column;
            > * {
                width: 100%;
            }
        }
        .js-newsletter-form-error {
            position: absolute;
            top: 48px;
            font-weight: normal;
            margin: 0;
        }
        small {
            font-size: 10px;
            color: #000000;
            letter-spacing: 0.12px;
            line-height: 13px;
            font-weight: 100;
            display: block;
        }
        .kk_success {
            .js-newsletter-field-email {
                color: #80B72D;
                border: 1px solid #80B72D;
                background: #F5FFEA url(https://media.hessnatur.com/kk/2021/ps07-exitintent/greencheck.svg) no-repeat 316px center;
            }
        }
        .kk_error {
            .js-newsletter-field-email {
                margin-bottom: 30px;
            }
        }
    }
    .kk_asterisksize10 {
        .column.kk_right small {
            font-size: 10px;
            line-height: 13px;
        }
    }
    .kk_asterisksize11 {
        .column.kk_right small {
            font-size: 11px;
            line-height: 14px;
        }
    }
    .kk_asterisksize12 {
        .column.kk_right small {
            font-size: 12px;
            line-height: 15px;
        }
    }
    .kk_badge {
        display: block !important;
        width: 110px;
        height: 110px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 49px;
        color: #494949;
        letter-spacing: -1.74px;
        font-family: "Roboto Condensed", "Roboto", sans-serif;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 44px;
        padding-top: 25px;
        font-weight: normal;
        overflow: hidden;
        span {
            display: block;
            font-family: "Roboto Condensed Bold";
            font-size: 12px;
            letter-spacing: -0.15px;
            line-height: 12px;
            padding: 0 8px;
            text-transform: uppercase;
        }
    }
}

@media only screen and (max-width: 779px) {
    .kk_template_modal {
        display: none !important;
    }
}

