/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

//trustpilot css
.kk-ab33-wrap {
    height: 100%;
}
.kk_trustpilot {
    width: 100%;
    height: 100%;
    background: #F7F6F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #E5E5E5;
    min-height: 300px;
    // margin-left: 40px;
    .kk-header {
        font-family: "Roboto Condensed";
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: .03em;
        text-transform: uppercase;
        text-align: center;
        padding: 0px 10px 30px;
    }
    .kk_stars_wrapper {
        background: url(https://media.hessnatur.com/kk/2023/ab33//stars-0.svg)center bottom/cover no-repeat;
        margin: auto;
        width: 200px;
        height: 36px;
    }
    .kk_stars {
        display: block;
        width: 200px;
        height: 36px;
         div {
            height: 100%;
            width: 42px;
            display: inline-block;
            &:first-child, &:last-child {
                width: 37px;
            }
       }
    }
    
}

// change styling of trusted shops banner
.kk_row {
    > .row {
        width: 33,3% !important;
        margin: 0 !important;
    }
    @media only screen and (max-width: 1023px) {
        .small-12.xlarge-4.medium-8.large-6.xlarge-6.xxlarge-4 {
            order: 1;
        }
    }
}
#trustedShopsBanner {
    // margin-left: 30px;
    max-width: 100%;
    padding: 0 30px;

    ._t53mel {
        display: block !important;
        width: 100% !important;
    }
    ._1htft4k {
        max-width: 100% !important;
        margin: 0 auto !important;
    }
    ._18egh9p {
        justify-content: space-between !important;
    }
    ._rh7aoc {
        width: 100% !important;
    }
    ._12aa6h1 {
    padding: 10px 0px 0px !important;
    max-width: 100% !important;
    width: 100% !important;
    }
    ._16tjiht {
        font-size: 21px !important;
    }
    ._15l0y26 {
        margin: 11px 0px 10px !important;
    }
    ._8f42qo {
        font-size: 14px !important;
        line-height: 22px !important;
    }
    ._y554w1 {
        font-size: 18px !important;
        line-height: 18px !important;
    }
    ._1cgy6pn {
        font-size: 14px !important;
        line-height: 14px !important;
        padding: 0px 0px 8px !important;
    }
    ._1fp8jfu {
        font-size: 14px !important;
        line-height: 14px !important;
    }
    ._1s2tzin {
        font-size: 10px !important;
        margin: 8px 0px !important;
    }
    ._1p8bfxk {
        margin: 10px 0px 0px !important;
        font-size: 14px !important;
        line-height: 14px !important;
        position: relative !important;
        z-index: 1;
    }
    
}

.kkAB33 > .row {
    margin: 0 auto;

    &:last-of-type {
        margin-top: 35px;
    }

    #trustedShopsBanner {
        padding: 0;
    }

    ._1g0ke0t {
        margin: 0 auto !important;
    }
}
// @media only screen and (max-width: 736px) {
//     #trustedShopsBanner {
//         margin-left: 0px;
//         width: 437px;
//         margin-bottom: 40px;
//     }
//     .kk_trustpilot {
//         margin-left: 0px;
//         margin-right: 500px;
//     }
// }

