/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

#kk_infoTabs {
    margin-top: 0 !important;
}

.kk_boxes {
    height: 118px;
    text-align: center;
}
