/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */


//

// overwrites
.wa-s5 {
  .js-pds-more-details {
    float: right;
  }
  .js-pds-more-details:before {
    content: "";
    display: inline-block;
    //position: relative;
    background-image: url("https://webarts.s3.amazonaws.com/Hessnatur/2018/Sprint5/right.png");
    width: 5px;
    height: 9px;
    margin-right: 5px;
  }

  .pds-cockpit__shortDescription {
   li {
     line-height: 18px;
    }
  }


  .productInfoTop {
    padding-top: 37px;

    > .row {
      > .large-6 {
        flex: 0 0 51%;
        max-width: 51%;
      }

      > .large-3 {
        padding: 0px;
        margin: 0px;
        max-width: 30%;
        flex: 0 0 30%;
        padding-left: 2px;

        .certificateWrapper {
          .column.shrink {
            width: 100%;
            margin-bottom: 25px;
            height: 144px;
          }
        }
      }
    }

  }

}

// new elements

.wa-show-shortDesc {
  height: 54px;
  overflow: hidden;
  margin-bottom: 20px;
  pointer-events: none;

}

.wa-show-shortDesc:before {
  pointer-events: all;
  content: "";
  width: 100%;
  height: 34px;
  background: #ffffffbf;
  display: block;
  position: absolute;
  margin-top: 36px;
  background-image: url("https://webarts.s3.amazonaws.com/Hessnatur/2018/Sprint5/down.png");
  background-position: 8% 22px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wa-show-more {
  text-align: center;
  background: #f7f6f5;
  color: #00000042;

  span {
    width: 10px;
    height: 6px;
    display: inline-block;
    background: url("https://webarts.s3.amazonaws.com/Hessnatur/2018/Sprint5/down.png") 0 0 no-repeat;
    background-size: contain;
    opacity: 0.6;
  }
}


#wa-material {

  margin-top: 15px;

  p {
    margin-bottom: 4px;
  }

  > p {
    margin-bottom: 8px;
  }

  strong {
    font-weight: normal;
  }

  ul {
    display: flex;
    background: #F7F6F5;
    margin: 0px;
    padding: 10px;
  }
  li {
    width: 50%;
    margin: 0;
    font-size: 12px;

  }
  .shrink {
    padding: 0;
  }
  .column.h-no-padding-left {
    padding-right: 20px;
  }

  img {
    margin-right: 10px;
  }
}


#wa-qualitySeal {
  background: url("https://webarts.s3.amazonaws.com/Hessnatur/2018/Sprint5/qa.png") 0 0 no-repeat;
  background-size: 100%;
  max-width: 393px;
  height: 523px;
}
#wa-eu {
  background: url("https://webarts.s3.amazonaws.com/Hessnatur/2018/Sprint5/flag_eu.png") 0 0 no-repeat;
  width: 42px;
  height: 25px;
  display: inline-block;
  margin: 0 10px -7px 0;
}

#wa-ger {
  background: url("https://imgs7.hessnatur.com/is/content/HessNatur/Zertifikate/Zertifikat_Made-In-Germany.svg") 0 0 no-repeat;
  width: 50px;
  background-size: contain;
  height: 50px;
  display: inline-block;
  margin: 0px;
  margin-top: -13px;
  position: absolute;

}

.wa-m-t {
  margin-top: 50px;
}

#wa-box {
  margin-left: 10.3%;
  width: 79.5%;

  .productInfosItem .columns.row {
    flex: 0 0 30.5%;
  }
}
