/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

@media only screen and (max-width: 1200px) {
    .pds-cockpit__addProductWrapper {
        .xlarge-order-2 {
            padding-left: 1.15385rem !important;
        }
        .medium-order-1 {
            padding-left: 1.15385rem;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .kk_kachel {
        > a {
            text-decoration: none;
            background: #fff no-repeat center 0;
            background-size: cover;
            padding: 7%;
            height: 100%;
            position: relative;
            display: flex;

            h3 {
                margin: 0 10px;
                font-family: "Roboto Condensed Bold","Roboto",Helvetica,Arial,sans-serif;
                font-weight: normal;
                font-size: 15px;
                text-align: center;
                text-transform: uppercase;
                min-height: 30px;
                width: 100%;
            }

            .kk_content {
                // background-color: #fff;
                width: 100%;
                position: relative;
                min-height: 440px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-bottom: 7px;
                color: #FFFFFF !important;

                h3 {
                    padding-top: 130px;
                    text-shadow: 0 0.15385rem 2.30769rem rgb(54 67 74 / 25%);
                    font-size: 36px !important;
                    line-height: 40px !important;
                    text-align: center !important;
                }

                div {
                    width: 100%;
                    margin-top: -85px;
                    text-shadow: 0 0.15385rem 2.30769rem rgb(54 67 74 / 25%);
                    font-size: 24px !important;
                    line-height: 28px !important;
                    text-align: center !important;
                }


                // > div {
                //     background: url("https://kk-ffm.s3.eu-central-1.amazonaws.com/hessnatur/2020/ps01/check.svg") #fff no-repeat center 0;
                //     // margin: 0 0 5%;
                //     margin: 0;
                //     // padding: 14% 7% 0;
                //     padding: 29px 7% 0;
                //     font-size: 1rem;
                //     min-height: 82px;
                //     text-align: center;
                //     line-height: 17px;
                //     font-weight: 300;
                //     width: 100%;
                //     &:last-child {
                //         margin-bottom: 0;
                //     }
                // }
                img {
                    margin: 10px auto 5px;
                    display: block;
                    width: 81%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .kk_kachel > div h3,
    .kk_kachel > div .kk_content > div {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .kk_quali {
        justify-content: space-around;
    }
   
}

@media only screen and (max-width: 1024px) {
    .kk_kachel {
        display: none;
    }
}