#header {

  &&::before {
    top: 0;
    padding: 0;
    content: '';
    height: 0;
  }

}

.headerWrapper.headerWrapper {
  margin-top: 0;
}

.marketingBar.marketingBar.marketingBar {
  height: 0;
  
  .rteContainer {
    display: none;
  }

}

.marketingBarWrapper.marketingBarWrapper {
  // box-shadow: none;
  top: 0;
}

.meta-navigation {

  // Nesletter
  &&& > li:nth-child(1) {
    right: 150px;
  }

  // Magazin
  &&& > li:nth-child(2) {
    right: 62px;
  }
  
  // Über uns
  > li:nth-child(3) {
    display: none;
  }

  &&& > li:nth-child(1),
  &&& > li:nth-child(2) {
    top: auto;
    bottom: -44px;
  }

  > li {

    > a {
    font-size: 1.07692rem;
    }

  }

   &&& .badge {
    background: transparent;
    position: relative;
    top: auto;
    left: auto;
    line-height: 20px;
    border: 0;
    border-radius: 0;
    padding: 0;
    font-size: 1.07692rem;
    color: inherit;
    font-weight: 400;
    min-width: auto;
  }

}

.kk-meta-link {
  line-height: 20px;
}

.menu {

  > li {

    > a {

      img {
        margin-right: 10px;
      }

    }

  }

}

#search_form#search_form {
  left: 30px;
  top: 28px;
}