// @media only screen and (max-width: 1190px) and (min-width: 1024px) {
    
// }

/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

.js_backstopWrapper {
    > .row {
        .js-badges-container {
            -ms-flex: 0 0 55%;
            flex: 0 0 55%;
            max-width: 55%;
            padding: 15px 0 0 20px;
        }
        > .pds-cockpit__headlineWrapper {
            position: relative !important;
            height: auto !important;
        }
        h1.pds-cockpit__productName {
            margin: 0 10px 20px;
        }
    }
    > .h-smallOffset-bottom-outer {
        margin: 15px 10px 0 !important; 
        > .pds-cockpit__articleNumber {
            display: none;
        }
    }
    .pds-cockpit__ratingSummaryWrapper {
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
        max-width: 45%;
        padding: 15px 20px 0 0;
        text-align: right;
        white-space: nowrap;
    }
}
.pds-cockpit__wrapper {
    padding: 10px 24px 0 !important;
}

.strikeValue {
    color: #969a9c;
}

.js-thirty-day-cheapest-price .h-nowrap {
    white-space: normal;
    display: block;
    padding-top: 5px;
}


// .js_backstopWrapper>.row .js-badges-container{-ms-flex:0 0 55%;flex:0 0 55%;max-width:55%}.js_backstopWrapper>.row>.pds-cockpit__headlineWrapper{position:relative!important;height:auto!important}.js_backstopWrapper>.row h1.pds-cockpit__productName{margin:15px 10px 20px}.js_backstopWrapper>.h-smallOffset-bottom-outer{margin:15px 10px 0!important}.js_backstopWrapper>.h-smallOffset-bottom-outer>.pds-cockpit__articleNumber{display:none}.js_backstopWrapper .pds-cockpit__ratingSummaryWrapper{-ms-flex:0 0 45%;flex:0 0 45%;max-width:45%;text-align:right;white-space:nowrap}.pds-cockpit__wrapper{padding:10px 24px 0!important}