/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */


.kk_ps03_3 {
    // .kk_quali + .small-12.columns.js-product-reference {
    //     margin-top: -70px;
    #kk_likethisproduct{
        .desc-price {
            display: flex;
            .price {
                margin-right: 2px;
                &.full {
                    margin-right: 10px;
                }
                &.show + .show {
                    color: #e53e3e;
                }
            }
            .price.full {
                order: -1;
            }
            .price:nth-child(2) {
                order: -4;
            }
            .price.special {
                order: -3;
                margin-right: 10px;
            }
            .price:last-child {
                order: -2;
            }
        }
    }

    .item__desc .price.special {
        margin-left: 3px;
    }

    html .js-productSliderWrapper {
        padding: 0 0 0 24px;
        .recommendation-headline.h4 {
            margin: 30px 0 0 !important;
            font-size: 32px;
            line-height: 34px;
            text-transform: uppercase;
            font-family: 'Roboto Condensed Bold','Roboto Condensed',Helvetica,Arial,sans-serif;
            font-style: normal;
        }
        > .column:first-child {
            padding: 0;
        }
    }
    #kk_likethisproduct .productitem {
        padding: 0 1px;
        // flex: 0 0 41.66667%;
        // max-width: 41.66667%;
    }

    // @media (max-width: 1100px) {
        .kk_quali + .small-12.columns.js-product-reference {
            display: none !important;
        }
    // }

    .js-jump-references
    // [data-componentid="CrossSellingEconda"] 
    {
        display: none !important;
    }

    #kk_likethisproduct {
        margin-left: 20px;
    }

}