/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */



.kk_nlmodal {
    display: block;
    #availability-matrix {
        padding: 0;
        border-radius: 0;
    }
    .column.small-7 {
        padding: 68px 30px 39px;
        p {
            text-transform: uppercase;
            padding-bottom: 14px;
            font-size: 12px;
            color: #373939;
            letter-spacing: 0.11px;
            text-align: center;
        }
        h4 {
            margin-bottom: 12px;
            font-family: "Roboto Condensed Bold";
            font-weight: 400;
            font-size: 32px;
            color: #373939;
            letter-spacing: 0.1px;
            text-align: center;
        }
        // .input-group-field {
        //     background: #FFFFFF;
        //     border: 1px solid #E5E4E3;
        //     border-radius: 2px;
        //     font-size: 12px;
        //     // color: #969A9C;
        //     letter-spacing: 0.2px;
        //     line-height: 17px;
        //     margin-bottom: 10px;
        // }
        // .input-group-button {
        //     background: #393939;
        //     border-radius: 2px;
        //     font-family: "Roboto Condensed Bold";
        //     font-weight: 400;
        //     font-size: 15px;
        //     color: #FFFFFF;
        //     letter-spacing: 0.35px;
        //     text-align: center;
        //     line-height: 17px;
        // }
        // #command {
        //     margin-bottom: 17px;
        //     flex-direction: column;
        //     > * {
        //         width: 100%;
        //     }
        // }
        small {
            font-size: 10px;
            color: #000000;
            letter-spacing: 0.12px;
            line-height: 13px;
        }
    }
}

// Mobile
// @media only screen and (max-width: 625px) {
// }

