/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

/* KAT */
.kategorie-artikelbewertung {
    padding: 5px 11px;
    border: solid 1px #E8EFC5;
    margin: 0 20px 10px 0;
}
.bewertung-bewertung {
    min-width: 50px;
    font-size: 14px;
    .greenthumb {
        margin: -2px 0 0 6px;
    }
}
.bewertung-sterne {
    width: 80%;
}
.kk_rating {
    font-size: 12px;
    padding-top: 3px;
}

/* PDS */
#stage-rating {
    .contentRatings {
        padding: 0;
        margin-top: -2px;
        text-align: left !important;
        a {
            font-weight: bold;
            font-size: 15.4px;
            text-decoration: none;
            img:first-child {
                margin-top: 6px;
            }
        }
        .greenthumb {
            height: 23px;
            width: 18px;
            margin-top: 3px;
        }
        .kk_positiv {
            text-decoration: underline;
            font-weight: normal;
        }
    }
}
h1.headline + .HR {
    border-color: transparent;
}
#ratings {
    .dropdown-item .subline {
        padding-bottom: 0;
    }
    .kk_positiv {
        font-size: 15.4px;
        padding-bottom: 10px;
        img {
            margin-top: 3px;
        }
    }
}
.kk_box {
    background-color: #D8DFCC;
    padding: 16px;
    margin-top: 1px;
    h3 {
        font-weight: bold;
        font-size: 19px;
        text-align: center;
        margin-bottom: 14px;
    }
    p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }
    span {
        display: block;
        width: 100%;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        line-height: 45px;
    }
    img {
        width: 35px;
        height: 45px;
        margin-right: 10px;
    }
}
// .produkt-bewertungen-ueberschrift,
#itemRating {
    display: none;
}
.produkt-bewertungen-ueberschrift {
    font-size: 14.3px;
}
