/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */
.kk07A {
    #kk07_ecological {
        opacity: 0;
        background: #fff !important;
        padding: 6.92308rem calc(~"8.33333% + 2.30769rem") 0;
        margin-bottom: 3.75rem;

        .kk07_icon {
            height: 40px;
            margin: 0 auto 10px;

            &.water {
                background-size: 45px 30px;
            }

            &.co2 {
                background-size: 54px 35px;
            }

            &.earth {
                background-size: 23px 40px;
            }
        }
    }

    .kk07_eco__point {
        padding: 2rem 2.25rem;
        overflow: hidden;

        >div {
            background: #FDFBF7;
            margin: -40px 15px 0;
            padding: 15px 20px;
            position: relative;
            z-index: 1;
            height: 100%;

            p {
                font-size: 1.35rem;
                line-height: 1.9rem;
            }
        }
    }

    .pds__imageAndCockpitWrapper {
        padding-bottom: 4rem;
    }
}

.kk07_head {
    min-height: 130px;

    strong {
        display: block;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-bottom: .7rem;
    }

    span {
        color: #6E964B;
        font-size: 1.2rem;
    }
}

.kk07_icon {
    display: block;
    background: center center/contain no-repeat;

    &.water {
        background-image: url('@{s3}badewanne.svg');
    }

    &.earth {
        background-image: url('@{s3}blumentopf.svg');
    }

    &.co2 {
        background-image: url('@{s3}flugzeug.svg');
    }
}

.kk07_headline {
    display: inline-block;
    font-family: Roboto Condensed;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 27px;
    color: #0D6730;
    line-height: 33px;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: -15px;
        width: 32px;
        height: 17px;
        background: url('@{s3}headline-badge.svg') center center/contain no-repeat;
    }

    &+span {
        text-align: center;
        color: #0D6730;
        display: block;
        font-family: Roboto Condensed;
        font-size: 11px;
    }
}

@media screen and (max-width: 1023px) {
    #kk07_header {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    #kk07_header {
        .column>div {
            position: relative;
            background: url('@{s3}bg.png') center center/100% 100% no-repeat;
            padding: 25px 15px 8px;
            text-align: center;
        }

        .kk07_headline {
            font-size: 18px;
            line-height: 20px;

            &:after {
                top: -12px;
                width: 21px;
                height: 12px;
            }
        }

        .kk07_icon {
            height: 25px;
        }

        ul {
            margin: 0 auto;
            width: 260px;
        }

        li {
            list-style: none;
            padding-left: 40px;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 10px 0px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                width: 16px;
                height: 15px;
                transform: translateY(-50%);
                left: 0;
                background: url('@{s3}checkmark.svg') center center/contain no-repeat;
                width: 15px;
                height: 14px;
            }

            span {
                display: inline-block;
                margin-right: 15px;
                width: 40px;
                text-align: center;
                font-weight: 700;
                line-height: 18px;
                font-size: 10px;
            }

            strong {
                width: 20px;
                display: inline-block;
                text-align: right;
                margin-right: 7px;
            }
        }

        a {
            position: absolute;
            right: 28px;
            bottom: 17px;
            font-size: 9px;
            font-weight: 600;
        }

        &+div {
            margin-top: 1rem;
            margin-bottom: 1.25rem;

            ul {
                display: none;
            }

            .js-pds-more-details {
                font-size: 0;
                line-height: 0;

                &:before {
                    content: 'Zu den Produktinfos';
                    font-size: 13px;
                    line-height: 17px;
                    font-weight: 700;
                }
            }
        }
    }

}