/* IMPORT VAR LESS FILE */
@import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */


.kk_quali {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 2px solid #E8EBE6;
    margin: 36px 72px 25px;
    width: 100%;
    min-width: 452px;
    padding: 10px 0 18px;
    justify-content: space-between;
    // max-width: 473px;
    // background: #fff url("https://media.hessnatur.com/kk/100Prozent/ps01/pds_blaetter.svg") no-repeat 11% 4px;
    &::before {
        content: "";
        border-top: solid 1px #6E964B;
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .kk_hl {
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 29px;
        display: block;
        margin: -20px auto 0;
        width: 100%;
        padding: 0;
        font-weight: normal;
        // font-family: "Roboto",Helvetica,Arial,sans-serif;
        font-family: "Roboto Condensed Bold", "Roboto",Helvetica,Arial,"Archer A",sans-serif;
        span {
            white-space: nowrap;
            display: inline-block;
            padding: 0 34px 0 20px;
            background-color: #fff;
            &::before {
                content: "";
                margin: -20px -21px 11px 0;
                background: transparent url("https://media.hessnatur.com/kk/100Prozent/ps01/pds_blaetter.svg") no-repeat 11% 4px;
                width: 46px;
                height: 36px;
                display: inline-block;
            }
        }
        
    }
    > div {
        padding: 40px 0 36px 68px;
        font-size: 15px;
        width: 300px;
        margin: 0;
    }
}
.kk_siegel {
    background-color: #fff;
    border: 2px solid #E8EBE6;
    padding: 10px 15px;
    width: 368px;
    margin: 0 0 10px -25px;
    min-width: 110%;
    .h3 { 
        font-size: 0;
        &::after {
            font-size: 2.07692rem;
            content: "Ausgezeichnet durch:";
        }
    }
    .certificateTextWrapper {
        display: none;
    }
    .certificateWrapper {
        justify-content: space-around;
        max-width: 100%;
        margin: 0;
        > .columns.row {
            width: 30%;
            flex: 0 0 30%;
            max-width: 30%;
        }
        .h-smallOffset-bottom-outer {
            min-width: 91px;
            padding: 0;
            max-width: 100%;
        }
        .shrink {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.kk_natur {
    background: #fff url("https://media.hessnatur.com/kk/100Prozent/ps01/pds_quali.svg") no-repeat 0 center;
}
.kk_stuecke {
    background: #fff url("https://media.hessnatur.com/kk/100Prozent/ps01/pds_kleidung.svg") no-repeat 0 center;
}
.kk_tropfen {
    background: #fff url("https://media.hessnatur.com/kk/100Prozent/ps01/pds_komfort.svg") no-repeat 0 center;
}

.kk_gefragt {
    margin: 5px 0;
    background: #F9F9F9;
    font-size: 11px;
    line-height: 21px;
    padding: 0 8px;
    display: block;
    // height: 21px;
    display: inline-block;
    b {
        color: #2CA700;
        padding-right: 5px;
        text-transform: uppercase;
    }
}
.kk_favorit .js-badges-container {
    position: relative;
    &::after {
        content: "Kundenfavorit";
        font-size: 11px;
        color: #373939;
        font-weight: bold;
        line-height: 26px;
        height: 25px;
        // padding-left: 22px;
        text-align: center;
        text-transform: uppercase;
        // width: 106px;
        padding: 0 10px;
        margin-left: 1px;
        order: 3;
        border-radius: 2px;
        letter-spacing: 1.55px;
        background-color: #F2E543;
        display: inline-block;
        // background: #F9DC02 url("https://media.hessnatur.com/kk/100Prozent/ps01/like.svg") no-repeat 8px 5px;
    }
}

.kk_fav {
    // border: red solid 4px;
    &::before {
        content: "Kundenfavorit";
        font-size: 10px;
        color: #373939;
        font-weight: bold;
        line-height: 26px;
        height: 25px;
        // padding-left: 17px;
        padding: 0 10px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.55px;
        // width: 115px;
        position: absolute;
        top: 6px;
        z-index: 20;
        left: 6px;
        border-radius: 2px;
        background-color: #F2E543;
        display: block;
        // background: #F9DC02 url("https://media.hessnatur.com/kk/100Prozent/ps01/like.svg") no-repeat 6px 8px;
    }
}
.kk_sehrgefragt {
    &::after {
        content: "Aktuell sehr gefragt!";
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        color: #2CA700;
        line-height: 9px;
        position: absolute;
        bottom: -24px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}
// .pds-cockpit__addProductWrapper {
//     .xlarge-order-2 {
//         order: 1;
//         min-width: 202px;
//         // padding-left: 2.30769rem !important;
//         flex: 0 0 62%;
//         max-width: 62%;
//     }
//     .medium-order-1 {
//         order: 2;
//         padding-left: 0;
//         margin-left: 0;
//         flex: 0 0 38% !important;
//         max-width: 38% !important;
//     }
// }

.kk_cta_uvps {
    margin-top: 5px;
    padding-bottom: 40px;
    background: url("https://media.hessnatur.com/kk/100Prozent/ps01/payment.png") transparent no-repeat center bottom;
    background-size: 100% auto;
    max-width: 346px;
    ul {
        margin: 0;
        list-style: none;
    }
    li {
        background: url("https://media.hessnatur.com/kk/100Prozent/ps01/check.svg") transparent no-repeat 0 center;
        font-size: 13px;
        padding-left: 23px;
        background-size: 16px auto;
        height: 28px;
    }
    + .h-mediumOffset-bottom-outer {
        display: none;
        + .pds-cockpit__sozialMediaShareWrapper {
            display: none;
        }
    }

}


// @media only screen and (max-width: 1325px) {
//     .kk_quali {
//         margin-top: -3%;
//     }
// }
// @media only screen and (max-width: 1240px) {
//     .kk_quali {
//         margin-top: -9%;
//     }
//     // .pds-cockpit__addProductWrapper .medium-order-1 {
//         // -ms-flex: 0 0 40%;
//         // flex: 0 0 40%;
//         // max-width: 40%;
//     // }
// }
@media only screen and (max-width: 1200px) {
    // .kk_quali {
    //     margin-top: -16%;
    // }
    .pds-cockpit__addProductWrapper {
        .xlarge-order-2 {
            padding-left: 1.15385rem !important;
        }
        .medium-order-1 {
            padding-left: 1.15385rem;
            // -ms-flex: 0 0 100%;
            // flex: 0 0 100%;
            // max-width: 100%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .kk_kachel {
        > div {
            background: #fff no-repeat center 0;
            background-size: cover;
            // padding: 36px;
            padding: 7%;
            height: 100%;
            position: relative;
            display: flex;
            h3 {
                // margin: 16% 10px 10%;
                margin: 0 10px;
                font-family: "Roboto Condensed Bold","Roboto",Helvetica,Arial,sans-serif;
                font-weight: normal;
                font-size: 15px;
                text-align: center;
                text-transform: uppercase;
                min-height: 30px;
                width: 100%;
            }
            .kk_content {
                background-color: #fff;
                width: 100%;
                position: relative;
                min-height: 440px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding-bottom: 7px;
                > div {
                    background: url("https://media.hessnatur.com/kk/100Prozent/ps01/check.svg") #fff no-repeat center 0;
                    // margin: 0 0 5%;
                    margin: 0;
                    // padding: 14% 7% 0;
                    padding: 29px 7% 0;
                    font-size: 1rem;
                    min-height: 82px;
                    text-align: center;
                    line-height: 17px;
                    font-weight: 300;
                    width: 100%;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                img {
                    // margin: 30px auto 20px;
                    margin: 10px auto 5px;
                    display: block;
                    width: 81%;
                }
                // &::before {
                //     content: "";
                //     width: 13%;
                //     height: 1px;
                //     border: solid 1px #CBCBCB;
                //     position: absolute;
                //     top: 53px;
                //     left: 15%;
                // }
                // &::after {
                //     content: "";
                //     width: 13%;
                //     height: 1px;
                //     border: solid 1px #CBCBCB;
                //     position: absolute;
                //     top: 53px;
                //     right: 15%;
                // }
            }
        }
        &.kk_hoechstequali > div {
            background-image: url("https://media.hessnatur.com/kk/100Prozent/ps01/quali2.jpg");
            .kk_content > div {
                background: url("https://media.hessnatur.com/kk/100Prozent/ps01/check2.svg") #fff no-repeat center 0;
            }
        }
        &.kk_nachteile > div {
            background-image: url("https://media.hessnatur.com/kk/100Prozent/ps01/keinenachteile1.jpg");
        }
        &.kk_trage > div {
            background-image: url("https://media.hessnatur.com/kk/100Prozent/ps01/trage1.jpg");
        }
    }

}



@media only screen and (min-width: 1400px) {
    .kk_kachel > div h3,
    .kk_kachel > div .kk_content > div {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    // .kk_kachel > div .kk_content > div {
    //     font-size: 1.2rem;
    //     line-height: 2rem;
    //     // margin: 0 0 12%;
    //     // padding: 9% 7% 0;
    // }
    .kk_quali {
        justify-content: space-around;
    }
   
}


@media only screen and (max-width: 1024px) {
    .kk_kachel {
        display: none;
    }
}

@media only screen and (max-width: 1220px) {
    .kk_quali > div {
        width: 290px !important;
    }
}
