/* IMPORT VAR LESS FILE */
// @import "../global/vars.less";

/* IMPORT GLOBAL LESS FILES */
@import "../global/global.less";

/* DEFINE VARIATION CSS */

#js-payback-form-container #paybackCardForm {
    margin-right: 20px;
}

.kk_payment_info_container {
    margin-bottom: 20px !important;
}

.kk_payback_v2 {
    margin-top: -20px;
    margin-bottom: 9px;
}

.kk_pb_column {
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    background-color: #F5F5F5;
}

.payback__form__info {
    margin-left: 0px;
}

.kk_pb_column > .payback__form__container {
    margin-left: 8px;
}

#js-payback-form-container {

    > .payback__form__container {
        margin-bottom: 0px;
    }
}

.kk_subtotal_styling > :nth-child(2) > :first-child > :first-child {
    padding-left: 0px;
}